## JSON string format (orient)

In [1]:
import pandas as pd
import json

### Example 1 
- Baskin Robbins nutritional information from http://www.baskinrobbins.ca/nutritional-information/

In [2]:
df = pd.read_csv('https://github.com/prasertcbs/basic-dataset/raw/master/icecream.csv')
df[:5]

                    flavour  calories  fat_g  carb_g  sugar_g  protein_g
0            Bananas Foster       160    8.0      20       16        2.0
1              Baseball Nut       160    9.0      19       13        3.0
2        Beavertails Pastry       170    9.0      21       15        3.0
3  Blackberry Frozen Yogurt       120    4.0      17       16        3.0
4    Blue Raspberry Sherbet       130    2.0      26       20        2.0

### Dataframe to_json 
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_json.html

In [3]:
df[:2].to_json()

'{"flavour":{"0":"Bananas Foster","1":"Baseball Nut"},"calories":{"0":160,"1":160},"fat_g":{"0":8.0,"1":9.0},"carb_g":{"0":20,"1":19},"sugar_g":{"0":16,"1":13},"protein_g":{"0":2.0,"1":3.0}}'

In [4]:
s = df[:2].to_json()
j = json.loads(s)
j

{'flavour': {'0': 'Bananas Foster', '1': 'Baseball Nut'},
 'calories': {'0': 160, '1': 160},
 'fat_g': {'0': 8.0, '1': 9.0},
 'carb_g': {'0': 20, '1': 19},
 'sugar_g': {'0': 16, '1': 13},
 'protein_g': {'0': 2.0, '1': 3.0}}

In [5]:
json.dumps(j, indent=2)

'{\n  "flavour": {\n    "0": "Bananas Foster",\n    "1": "Baseball Nut"\n  },\n  "calories": {\n    "0": 160,\n    "1": 160\n  },\n  "fat_g": {\n    "0": 8.0,\n    "1": 9.0\n  },\n  "carb_g": {\n    "0": 20,\n    "1": 19\n  },\n  "sugar_g": {\n    "0": 16,\n    "1": 13\n  },\n  "protein_g": {\n    "0": 2.0,\n    "1": 3.0\n  }\n}'

In [6]:
print(json.dumps(j, indent=2))

{
  "flavour": {
    "0": "Bananas Foster",
    "1": "Baseball Nut"
  },
  "calories": {
    "0": 160,
    "1": 160
  },
  "fat_g": {
    "0": 8.0,
    "1": 9.0
  },
  "carb_g": {
    "0": 20,
    "1": 19
  },
  "sugar_g": {
    "0": 16,
    "1": 13
  },
  "protein_g": {
    "0": 2.0,
    "1": 3.0
  }
}

In [7]:
df[:2]

          flavour  calories  fat_g  carb_g  sugar_g  protein_g
0  Bananas Foster       160    8.0      20       16        2.0
1    Baseball Nut       160    9.0      19       13        3.0

In [8]:
print(json.dumps(j, indent=4))

{
    "flavour": {
        "0": "Bananas Foster",
        "1": "Baseball Nut"
    },
    "calories": {
        "0": 160,
        "1": 160
    },
    "fat_g": {
        "0": 8.0,
        "1": 9.0
    },
    "carb_g": {
        "0": 20,
        "1": 19
    },
    "sugar_g": {
        "0": 16,
        "1": 13
    },
    "protein_g": {
        "0": 2.0,
        "1": 3.0
    }
}

In [9]:
s = df[:2].to_json(orient='records')
j = json.loads(s)
j

[{'flavour': 'Bananas Foster',
  'calories': 160,
  'fat_g': 8.0,
  'carb_g': 20,
  'sugar_g': 16,
  'protein_g': 2.0},
 {'flavour': 'Baseball Nut',
  'calories': 160,
  'fat_g': 9.0,
  'carb_g': 19,
  'sugar_g': 13,
  'protein_g': 3.0}]

In [10]:
df[:2]

          flavour  calories  fat_g  carb_g  sugar_g  protein_g
0  Bananas Foster       160    8.0      20       16        2.0
1    Baseball Nut       160    9.0      19       13        3.0

In [11]:
print(json.dumps(j, indent=4))

[
    {
        "flavour": "Bananas Foster",
        "calories": 160,
        "fat_g": 8.0,
        "carb_g": 20,
        "sugar_g": 16,
        "protein_g": 2.0
    },
    {
        "flavour": "Baseball Nut",
        "calories": 160,
        "fat_g": 9.0,
        "carb_g": 19,
        "sugar_g": 13,
        "protein_g": 3.0
    }
]

In [12]:
orients = ['split', 'records', 'index', 'columns', 'values', 'table']
orients

['split', 'records', 'index', 'columns', 'values', 'table']

In [16]:
for fmt in orients:
    s = df[:2].to_json(orient=fmt)
    j = json.loads(s)
    print(f'orient = {fmt}')
    print(json.dumps(j, indent=4))
    print('-' * 80)

orient = split
{
    "columns": [
        "flavour",
        "calories",
        "fat_g",
        "carb_g",
        "sugar_g",
        "protein_g"
    ],
    "index": [
        0,
        1
    ],
    "data": [
        [
            "Bananas Foster",
            160,
            8.0,
            20,
            16,
            2.0
        ],
        [
            "Baseball Nut",
            160,
            9.0,
            19,
            13,
            3.0
        ]
    ]
}
--------------------------------------------------------------------------------
orient = records
[
    {
        "flavour": "Bananas Foster",
        "calories": 160,
        "fat_g": 8.0,
        "carb_g": 20,
        "sugar_g": 16,
        "protein_g": 2.0
    },
    {
        "flavour": "Baseball Nut",
        "calories": 160,
        "fat_g": 9.0,
        "carb_g": 19,
        "sugar_g": 13,
        "protein_g": 3.0
    }
]
--------------------------------------------------------------------------------
orient = index
{
    "0": {
        "flavour": "Bananas Foster",
        "calories": 160,
        "fat_g": 8.0,
        "carb_g": 20,
        "sugar_g": 16,
        "protein_g": 2.0
    },
    "1": {
        "flavour": "Baseball Nut",
        "calories": 160,
        "fat_g": 9.0,
        "carb_g": 19,
        "sugar_g": 13,
        "protein_g": 3.0
    }
}
--------------------------------------------------------------------------------
orient = columns
{
    "flavour": {
        "0": "Bananas Foster",
        "1": "Baseball Nut"
    },
    "calories": {
        "0": 160,
        "1": 160
    },
    "fat_g": {
        "0": 8.0,
        "1": 9.0
    },
    "carb_g": {
        "0": 20,
        "1": 19
    },
    "sugar_g": {
        "0": 16,
        "1": 13
    },
    "protein_g": {
        "0": 2.0,
        "1": 3.0
    }
}
--------------------------------------------------------------------------------
orient = values
[
    [
        "Bananas Foster",
        160,
        8.0,
        20,
        16,
        2.0
    ],
    [
        "Baseball Nut",
        160,
        9.0,
        19,
        13,
        3.0
    ]
]
--------------------------------------------------------------------------------
orient = table
{
    "schema": {
        "fields": [
            {
                "name": "index",
                "type": "integer"
            },
            {
                "name": "flavour",
                "type": "string"
            },
            {
                "name": "calories",
                "type": "integer"
            },
            {
                "name": "fat_g",
                "type": "number"
            },
            {
                "name": "carb_g",
                "type": "integer"
            },
            {
                "name": "sugar_g",
                "type": "integer"
            },
            {
                "name": "protein_g",
                "type": "number"
            }
        ],
        "primaryKey": [
            "index"
        ],
        "pandas_version": "0.20.0"
    },
    "data": [
        {
            "index": 0,
            "flavour": "Bananas Foster",
            "calories": 160,
            "fat_g": 8.0,
            "carb_g": 20,
            "sugar_g": 16,
            "protein_g": 2.0
        },
        {
            "index": 1,
            "flavour": "Baseball Nut",
            "calories": 160,
            "fat_g": 9.0,
            "carb_g": 19,
            "sugar_g": 13,
            "protein_g": 3.0
        }
    ]
}
--------------------------------------------------------------------------------

In [21]:
for fmt in orients:
    s = df[:2].to_json(orient=fmt)
    df[:2].to_json(f'ic_{fmt}.json', orient=fmt) # save to file
    
    j = json.loads(s)
    print(f'orient = {fmt}')
    print(json.dumps(j, indent=4))
    print('-' * 80)

orient = split
{
    "columns": [
        "flavour",
        "calories",
        "fat_g",
        "carb_g",
        "sugar_g",
        "protein_g"
    ],
    "index": [
        0,
        1
    ],
    "data": [
        [
            "Bananas Foster",
            160,
            8.0,
            20,
            16,
            2.0
        ],
        [
            "Baseball Nut",
            160,
            9.0,
            19,
            13,
            3.0
        ]
    ]
}
--------------------------------------------------------------------------------
orient = records
[
    {
        "flavour": "Bananas Foster",
        "calories": 160,
        "fat_g": 8.0,
        "carb_g": 20,
        "sugar_g": 16,
        "protein_g": 2.0
    },
    {
        "flavour": "Baseball Nut",
        "calories": 160,
        "fat_g": 9.0,
        "carb_g": 19,
        "sugar_g": 13,
        "protein_g": 3.0
    }
]
--------------------------------------------------------------------------------
orient = index
{
    "0": {
        "flavour": "Bananas Foster",
        "calories": 160,
        "fat_g": 8.0,
        "carb_g": 20,
        "sugar_g": 16,
        "protein_g": 2.0
    },
    "1": {
        "flavour": "Baseball Nut",
        "calories": 160,
        "fat_g": 9.0,
        "carb_g": 19,
        "sugar_g": 13,
        "protein_g": 3.0
    }
}
--------------------------------------------------------------------------------
orient = columns
{
    "flavour": {
        "0": "Bananas Foster",
        "1": "Baseball Nut"
    },
    "calories": {
        "0": 160,
        "1": 160
    },
    "fat_g": {
        "0": 8.0,
        "1": 9.0
    },
    "carb_g": {
        "0": 20,
        "1": 19
    },
    "sugar_g": {
        "0": 16,
        "1": 13
    },
    "protein_g": {
        "0": 2.0,
        "1": 3.0
    }
}
--------------------------------------------------------------------------------
orient = values
[
    [
        "Bananas Foster",
        160,
        8.0,
        20,
        16,
        2.0
    ],
    [
        "Baseball Nut",
        160,
        9.0,
        19,
        13,
        3.0
    ]
]
--------------------------------------------------------------------------------
orient = table
{
    "schema": {
        "fields": [
            {
                "name": "index",
                "type": "integer"
            },
            {
                "name": "flavour",
                "type": "string"
            },
            {
                "name": "calories",
                "type": "integer"
            },
            {
                "name": "fat_g",
                "type": "number"
            },
            {
                "name": "carb_g",
                "type": "integer"
            },
            {
                "name": "sugar_g",
                "type": "integer"
            },
            {
                "name": "protein_g",
                "type": "number"
            }
        ],
        "primaryKey": [
            "index"
        ],
        "pandas_version": "0.20.0"
    },
    "data": [
        {
            "index": 0,
            "flavour": "Bananas Foster",
            "calories": 160,
            "fat_g": 8.0,
            "carb_g": 20,
            "sugar_g": 16,
            "protein_g": 2.0
        },
        {
            "index": 1,
            "flavour": "Baseball Nut",
            "calories": 160,
            "fat_g": 9.0,
            "carb_g": 19,
            "sugar_g": 13,
            "protein_g": 3.0
        }
    ]
}
--------------------------------------------------------------------------------

###  Read JSON to Dataframe

In [22]:
ds = pd.read_json('ic_columns.json')
ds

          flavour  calories  fat_g  carb_g  sugar_g  protein_g
0  Bananas Foster       160      8      20       16          2
1    Baseball Nut       160      9      19       13          3

In [26]:
ds = pd.read_json('ic_index.json', orient='columns')
ds

                        0             1
flavour    Bananas Foster  Baseball Nut
calories              160           160
fat_g                   8             9
carb_g                 20            19
sugar_g                16            13
protein_g               2             3

In [25]:
ds = pd.read_json('ic_index.json', orient='index')
ds

          flavour  calories  fat_g  carb_g  sugar_g  protein_g
0  Bananas Foster       160      8      20       16          2
1    Baseball Nut       160      9      19       13          3

In [27]:
ds = pd.read_json('ic_records.json', orient='records')
ds

          flavour  calories  fat_g  carb_g  sugar_g  protein_g
0  Bananas Foster       160      8      20       16          2
1    Baseball Nut       160      9      19       13          3

In [28]:
ds = pd.read_json('ic_values.json', orient='values')
ds

                0    1  2   3   4  5
0  Bananas Foster  160  8  20  16  2
1    Baseball Nut  160  9  19  13  3

In [29]:
ds = pd.read_json('ic_table.json', orient='table')
ds

          flavour  calories  fat_g  carb_g  sugar_g  protein_g
0  Bananas Foster       160    8.0      20       16        2.0
1    Baseball Nut       160    9.0      19       13        3.0

## Example 2

In [30]:
url = 'https://github.com/prasertcbs/basic-dataset/raw/master/pokemon/pokedex_5_samples.json'
df = pd.read_json(url, orient='records')
df

,id,name,type,base
0,1,"{'english': 'Bulbasaur', 'japanese': 'フシギダネ', ...","[Grass, Poison]","{'HP': 45, 'Attack': 49, 'Defense': 49, 'Sp. A..."
1,2,"{'english': 'Ivysaur', 'japanese': 'フシギソウ', 'c...","[Grass, Poison]","{'HP': 60, 'Attack': 62, 'Defense': 63, 'Sp. A..."
2,3,"{'english': 'Venusaur', 'japanese': 'フシギバナ', '...","[Grass, Poison]","{'HP': 80, 'Attack': 82, 'Defense': 83, 'Sp. A..."
3,4,"{'english': 'Charmander', 'japanese': 'ヒトカゲ', ...",[Fire],"{'HP': 39, 'Attack': 52, 'Defense': 43, 'Sp. A..."
4,5,"{'english': 'Charmeleon', 'japanese': 'リザード', ...",[Fire],"{'HP': 58, 'Attack': 64, 'Defense': 58, 'Sp. A..."

In [31]:
df.loc[0, 'name']

{'english': 'Bulbasaur',
 'japanese': 'フシギダネ',
 'chinese': '妙蛙种子',
 'french': 'Bulbizarre'}

In [32]:
type(df.loc[0, 'name'])

dict

In [33]:
df.loc[0, 'type']

['Grass', 'Poison']

In [34]:
type(df.loc[0, 'type'])

list

In [35]:
df.loc[0, 'base']

{'HP': 45,
 'Attack': 49,
 'Defense': 49,
 'Sp. Attack': 65,
 'Sp. Defense': 65,
 'Speed': 45}

In [36]:
for fmt in orients:
    s = df[:2].to_json(orient=fmt)
    df[:2].to_json(f'pk_{fmt}.json', orient=fmt) # save to file
    
    j = json.loads(s)
    print(f'orient = {fmt}')
    print(json.dumps(j, indent=4))
    print('-' * 80)

orient = split
{
    "columns": [
        "id",
        "name",
        "type",
        "base"
    ],
    "index": [
        0,
        1
    ],
    "data": [
        [
            1,
            {
                "english": "Bulbasaur",
                "japanese": "\u30d5\u30b7\u30ae\u30c0\u30cd",
                "chinese": "\u5999\u86d9\u79cd\u5b50",
                "french": "Bulbizarre"
            },
            [
                "Grass",
                "Poison"
            ],
            {
                "HP": 45,
                "Attack": 49,
                "Defense": 49,
                "Sp. Attack": 65,
                "Sp. Defense": 65,
                "Speed": 45
            }
        ],
        [
            2,
            {
                "english": "Ivysaur",
                "japanese": "\u30d5\u30b7\u30ae\u30bd\u30a6",
                "chinese": "\u5999\u86d9\u8349",
                "french": "Herbizarre"
            },
            [
                "Grass",
                "Poison"
            ],
            {
                "HP": 60,
                "Attack": 62,
                "Defense": 63,
                "Sp. Attack": 80,
                "Sp. Defense": 80,
                "Speed": 60
            }
        ]
    ]
}
--------------------------------------------------------------------------------
orient = records
[
    {
        "id": 1,
        "name": {
            "english": "Bulbasaur",
            "japanese": "\u30d5\u30b7\u30ae\u30c0\u30cd",
            "chinese": "\u5999\u86d9\u79cd\u5b50",
            "french": "Bulbizarre"
        },
        "type": [
            "Grass",
            "Poison"
        ],
        "base": {
            "HP": 45,
            "Attack": 49,
            "Defense": 49,
            "Sp. Attack": 65,
            "Sp. Defense": 65,
            "Speed": 45
        }
    },
    {
        "id": 2,
        "name": {
            "english": "Ivysaur",
            "japanese": "\u30d5\u30b7\u30ae\u30bd\u30a6",
            "chinese": "\u5999\u86d9\u8349",
            "french": "Herbizarre"
        },
        "type": [
            "Grass",
            "Poison"
        ],
        "base": {
            "HP": 60,
            "Attack": 62,
            "Defense": 63,
            "Sp. Attack": 80,
            "Sp. Defense": 80,
            "Speed": 60
        }
    }
]
--------------------------------------------------------------------------------
orient = index
{
    "0": {
        "id": 1,
        "name": {
            "english": "Bulbasaur",
            "japanese": "\u30d5\u30b7\u30ae\u30c0\u30cd",
            "chinese": "\u5999\u86d9\u79cd\u5b50",
            "french": "Bulbizarre"
        },
        "type": [
            "Grass",
            "Poison"
        ],
        "base": {
            "HP": 45,
            "Attack": 49,
            "Defense": 49,
            "Sp. Attack": 65,
            "Sp. Defense": 65,
            "Speed": 45
        }
    },
    "1": {
        "id": 2,
        "name": {
            "english": "Ivysaur",
            "japanese": "\u30d5\u30b7\u30ae\u30bd\u30a6",
            "chinese": "\u5999\u86d9\u8349",
            "french": "Herbizarre"
        },
        "type": [
            "Grass",
            "Poison"
        ],
        "base": {
            "HP": 60,
            "Attack": 62,
            "Defense": 63,
            "Sp. Attack": 80,
            "Sp. Defense": 80,
            "Speed": 60
        }
    }
}
--------------------------------------------------------------------------------
orient = columns
{
    "id": {
        "0": 1,
        "1": 2
    },
    "name": {
        "0": {
            "english": "Bulbasaur",
            "japanese": "\u30d5\u30b7\u30ae\u30c0\u30cd",
            "chinese": "\u5999\u86d9\u79cd\u5b50",
            "french": "Bulbizarre"
        },
        "1": {
            "english": "Ivysaur",
            "japanese": "\u30d5\u30b7\u30ae\u30bd\u30a6",
            "chinese": "\u5999\u86d9\u8349",
            "french": "Herbizarre"
        }
    },
    "type": {
        "0": [
            "Grass",
            "Poison"
        ],
        "1": [
            "Grass",
            "Poison"
        ]
    },
    "base": {
        "0": {
            "HP": 45,
            "Attack": 49,
            "Defense": 49,
            "Sp. Attack": 65,
            "Sp. Defense": 65,
            "Speed": 45
        },
        "1": {
            "HP": 60,
            "Attack": 62,
            "Defense": 63,
            "Sp. Attack": 80,
            "Sp. Defense": 80,
            "Speed": 60
        }
    }
}
--------------------------------------------------------------------------------
orient = values
[
    [
        1,
        {
            "english": "Bulbasaur",
            "japanese": "\u30d5\u30b7\u30ae\u30c0\u30cd",
            "chinese": "\u5999\u86d9\u79cd\u5b50",
            "french": "Bulbizarre"
        },
        [
            "Grass",
            "Poison"
        ],
        {
            "HP": 45,
            "Attack": 49,
            "Defense": 49,
            "Sp. Attack": 65,
            "Sp. Defense": 65,
            "Speed": 45
        }
    ],
    [
        2,
        {
            "english": "Ivysaur",
            "japanese": "\u30d5\u30b7\u30ae\u30bd\u30a6",
            "chinese": "\u5999\u86d9\u8349",
            "french": "Herbizarre"
        },
        [
            "Grass",
            "Poison"
        ],
        {
            "HP": 60,
            "Attack": 62,
            "Defense": 63,
            "Sp. Attack": 80,
            "Sp. Defense": 80,
            "Speed": 60
        }
    ]
]
--------------------------------------------------------------------------------
orient = table
{
    "schema": {
        "fields": [
            {
                "name": "index",
                "type": "integer"
            },
            {
                "name": "id",
                "type": "integer"
            },
            {
                "name": "name",
                "type": "string"
            },
            {
                "name": "type",
                "type": "string"
            },
            {
                "name": "base",
                "type": "string"
            }
        ],
        "primaryKey": [
            "index"
        ],
        "pandas_version": "0.20.0"
    },
    "data": [
        {
            "index": 0,
            "id": 1,
            "name": {
                "english": "Bulbasaur",
                "japanese": "\u30d5\u30b7\u30ae\u30c0\u30cd",
                "chinese": "\u5999\u86d9\u79cd\u5b50",
                "french": "Bulbizarre"
            },
            "type": [
                "Grass",
                "Poison"
            ],
            "base": {
                "HP": 45,
                "Attack": 49,
                "Defense": 49,
                "Sp. Attack": 65,
                "Sp. Defense": 65,
                "Speed": 45
            }
        },
        {
            "index": 1,
            "id": 2,
            "name": {
                "english": "Ivysaur",
                "japanese": "\u30d5\u30b7\u30ae\u30bd\u30a6",
                "chinese": "\u5999\u86d9\u8349",
                "french": "Herbizarre"
            },
            "type": [
                "Grass",
                "Poison"
            ],
            "base": {
                "HP": 60,
                "Attack": 62,
                "Defense": 63,
                "Sp. Attack": 80,
                "Sp. Defense": 80,
                "Speed": 60
            }
        }
    ]
}
--------------------------------------------------------------------------------

In [37]:
dp = pd.read_json('pk_records.json', orient='records')
dp

,id,name,type,base
0,1,"{'english': 'Bulbasaur', 'japanese': 'フシギダネ', ...","[Grass, Poison]","{'HP': 45, 'Attack': 49, 'Defense': 49, 'Sp. A..."
1,2,"{'english': 'Ivysaur', 'japanese': 'フシギソウ', 'c...","[Grass, Poison]","{'HP': 60, 'Attack': 62, 'Defense': 63, 'Sp. A..."