## pandas.set_option
doc: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.set_option.html

In [27]:
import pandas as pd
pd.set_option('display.max_rows', None, # None = show all rows
              'display.max_columns', 100, 
              'display.float_format', '{:,.0f}'.format)

In [1]:
print(f'pandas version: {pd.__version__}')

pandas version: 1.1.3

### Read data international tourism, receipts

### Wide format

In [28]:
url = 'https://github.com/prasertcbs/basic-dataset/raw/master/intl_tourism_receipts_usd_wdi.xlsx'
df = pd.read_excel(url, sheet_name='Data', skiprows=3)
df

,Country Name,Country Code,Indicator Name,Indicator Code,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"554,000,000","666,000,000","726,000,000","786,000,000","782,000,000","850,000,000","825,000,000","835,000,000","858,100,000","1,056,000,000","1,097,000,000","1,064,100,000","1,213,400,000","1,352,000,000","1,223,000,000","1,254,000,000","1,358,000,000","1,412,000,000","1,506,000,000","1,625,000,000","1,659,000,000","1,638,000,000",nan
1,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"47,000,000","90,000,000","169,000,000","152,000,000","177,000,000","191,000,000","92,000,000","88,000,000","51,000,000",nan
2,Angola,AGO,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"27,000,000","38,000,000","24,000,000","39,000,000","31,000,000","34,000,000","35,000,000","51,000,000","63,000,000","82,000,000","103,000,000","91,000,000","236,000,000","293,000,000","554,000,000","726,000,000","653,000,000","711,000,000","1,241,000,000","1,597,000,000","1,171,000,000","628,000,000",nan
3,Albania,ALB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"70,000,000","94,000,000","34,000,000","60,000,000","218,000,000","398,000,000","451,000,000","492,000,000","537,000,000","756,000,000","880,000,000","1,057,000,000","1,479,000,000","1,848,000,000","2,014,000,000","1,780,000,000","1,833,000,000","1,623,000,000","1,670,000,000","1,849,000,000","1,614,000,000","1,821,000,000",nan
4,Andorra,AND,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
5,Arab World,ARB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"13,939,505,828","15,488,951,589","16,040,465,020","16,072,624,315","17,694,512,449","18,436,955,810","18,973,742,971","24,056,633,857","29,371,428,769","37,102,492,579","40,367,797,948","45,865,305,600","56,422,040,593","63,558,742,431","64,033,250,220","74,155,828,581","64,751,803,393","72,107,839,140","71,178,812,322","80,100,218,929","83,113,155,457","81,362,698,793",nan
6,United Arab Emirates,ARE,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"632,000,000","743,000,000","814,000,000","859,000,000","893,000,000","1,063,000,000","1,200,000,000","1,332,000,000","1,438,000,000","1,593,000,000","3,218,000,000","4,972,000,000","6,072,000,000","7,162,000,000","7,352,000,000","8,577,000,000","9,204,000,000","10,924,000,000","12,389,000,000","15,221,000,000","17,481,000,000","19,496,000,000",nan
7,Argentina,ARG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"2,550,000,000","2,975,000,000","3,153,000,000","3,353,000,000","3,175,000,000","3,195,000,000","2,756,000,000","1,716,000,000","2,306,000,000","2,660,000,000","3,209,000,000","3,926,000,000","5,030,000,000","5,273,000,000","4,455,000,000","5,605,000,000","6,058,000,000","5,665,000,000","5,199,000,000","5,645,000,000","5,441,000,000","5,186,000,000",nan
8,Armenia,ARM,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"14,000,000","18,000,000","33,000,000","41,000,000","47,000,000","52,000,000","81,000,000","81,000,000","90,000,000","188,000,000","243,000,000","406,000,000","522,000,000","564,000,000","570,000,000","694,000,000","762,000,000","853,000,000","905,000,000","994,000,000","956,000,000","988,000,000",nan
9,American Samoa,ASM,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
10,Antigua and Barbuda,ATG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"247,000,000","258,000,000","278,000,000","282,000,000","290,000,000","291,000,000","272,000,000","274,000,000","300,000,000","337,000,000","309,000,000","327,000,000","338,000,000","334,000,000","305,000,000","298,000,000","312,000,000","319,000,000","299,000,000","708,000,000","714,000,000","693,000,000",nan
11,Australia,AUS,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"11,915,000,000","13,779,000,000","13,698,000,000","11,664,000,000","12,866,000,000","13,016,000,000","12,804,000,000","13,624,000,000","16,647,000,000","20,453,000,000","19,719,000,000","20,408,000,000","25,024,000,000","27,189,000,000","26,909,000,000","31,064,000,000","34,315,000,000","34,137,000,000","32,889,000,000","33,619,000,000","30,872,000,000","34,475,000,000",nan
12,Austria,AUT,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"14,529,000,000","13,980,000,000","12,275,000,000","12,694,000,000","12,358,000,000","11,382,000,000","11,511,000,000","12,334,000,000","15,128,000,000","17,251,000,000","18,471,000,000","16,512,000,000","18,559,000,000","21,630,000,000","19,154,000,000","18,758,000,000","19,775,000,000","18,937,000,000","20,220,000,000","20,907,000,000","18,288,000,000","19,241,000,000",nan
13,Azerbaijan,AZE,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"87,000,000","57,000,000","176,000,000","143,000,000","93,000,000","68,000,000","57,000,000","63,000,000","70,000,000","79,000,000","100,000,000","201,000,000","317,000,000","382,000,000","545,000,000","792,000,000","1,500,000,000","2,634,000,000","2,618,000,000","2,713,000,000","2,535,000,000","2,855,000,000",nan
14,Burundi,BDI,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"2,424,994","2,141,381","1,440,072","1,300,000","1,200,000","1,400,000","900,000","1,600,000","1,200,000","1,800,000","1,900,000","1,600,000","2,300,000","1,600,000","1,700,000","2,100,000","3,700,000","1,500,000","2,300,000","4,100,000","2,200,000","1,900,000",nan
15,Belgium,BEL,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"4,548,000,000","4,844,000,000","4,529,000,000","4,623,000,000","6,472,000,000","6,592,000,000","8,304,000,000","7,598,000,000","8,848,000,000","10,089,000,000","10,881,000,000","11,625,000,000","12,371,000,000","12,018,000,000","11,423,000,000","11,395,000,000","12,742,000,000","13,711,000,000","14,536,000,000","15,244,000,000","13,084,000,000","12,772,000,000",nan
16,Benin,BEN,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"85,000,000","79,100,000","56,200,000","64,200,000","94,400,000","77,400,000","85,500,000","94,500,000","107,900,000","120,900,000","107,700,000","121,600,000","206,300,000","236,400,000","131,400,000","149,400,000","201,000,000","174,000,000","193,000,000","153,000,000","148,000,000",nan,nan
17,Burkina Faso,BFA,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,nan,nan,nan,nan,nan,"23,000,000","25,000,000","37,000,000","38,000,000","52,000,000","46,000,000","55,000,000","61,000,000","82,000,000","99,000,000","105,000,000","116,000,000","128,000,000","200,000,000","183,000,000","109,000,000",nan,nan
18,Bangladesh,BGD,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"25,000,000","33,000,000","62,000,000","52,000,000","50,000,000","50,000,000","48,000,000","59,000,000","59,000,000","76,000,000","82,000,000","79,000,000","80,000,000","59,000,000","95,000,000","104,000,000","97,000,000","105,000,000","131,000,000","154,000,000","148,400,000","175,000,000",nan
19,Bulgaria,BGR,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"662,000,000","541,000,000","517,000,000","1,150,000,000","1,184,000,000","1,364,000,000","1,262,000,000","1,392,000,000","2,051,000,000","2,796,000,000","3,063,000,000","3,317,000,000","4,181,000,000","4,852,000,000","4,273,000,000","3,807,000,000","4,297,000,000","3,975,000,000","4,410,000,000","4,518,000,000","3,583,000,000","4,164,000,000",nan
20,Bahrain,BHR,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"593,000,000","589,000,000","578,000,000","625,000,000","785,000,000","854,000,000","886,000,000","985,000,000","1,206,000,000","1,504,000,000","1,603,000,000","1,786,000,000","1,854,000,000","1,927,000,000","1,873,000,000","2,163,000,000","1,766,000,000","1,742,000,000","1,865,000,000","1,915,000,000",nan,nan,nan
21,"Bahamas, The",BHS,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"1,356,000,000","1,409,000,000","1,427,000,000","1,365,000,000","1,598,000,000","1,753,000,000","1,665,000,000","1,773,000,000","1,770,000,000","1,897,000,000","2,081,000,000","2,066,000,000","2,198,000,000","2,155,000,000","2,025,000,000","2,159,000,000","2,157,000,000","2,333,000,000","2,305,000,000","2,336,000,000","2,554,000,000","2,627,000,000",nan
22,Bosnia and Herzegovina,BIH,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,nan,nan,nan,"257,000,000","258,000,000","246,000,000","279,000,000","307,000,000","404,000,000","507,000,000","557,000,000","658,000,000","804,000,000","913,000,000","753,000,000","662,000,000","722,000,000","686,000,000","752,000,000","755,000,000","702,000,000","770,000,000",nan
23,Belarus,BLR,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"28,000,000","61,000,000","40,000,000","54,000,000","92,000,000","188,000,000","272,000,000","295,000,000","339,000,000","362,000,000","346,000,000","401,000,000","479,000,000","585,000,000","563,000,000","665,000,000","747,000,000","986,000,000","1,156,000,000","1,230,000,000","1,013,000,000","1,019,000,000",nan
24,Belize,BLZ,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"78,000,000","95,000,000","97,000,000","101,000,000","101,000,000","111,000,000","111,000,000","121,000,000","150,000,000","168,000,000","214,000,000","260,000,000","289,000,000","278,000,000","256,000,000","264,000,000","248,000,000","298,000,000","351,000,000","380,000,000","372,000,000","391,000,000",nan
25,Bermuda,BMU,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"488,000,000","472,000,000","478,000,000","487,000,000","479,000,000","431,000,000","351,000,000","378,000,000","348,000,000","426,000,000","429,000,000","495,000,000","569,000,000","431,000,000","366,000,000","442,000,000","500,000,000","448,000,000","447,000,000","407,000,000","386,000,000","445,000,000",nan
26,Bolivia,BOL,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"92,000,000","100,000,000","129,000,000","137,000,000","124,000,000","101,000,000","119,000,000","143,000,000","243,000,000","283,000,000","345,000,000","330,000,000","326,000,000","302,000,000","306,000,000","339,000,000","499,000,000","631,000,000","639,000,000","746,000,000","810,000,000","801,000,000",nan
27,Brazil,BRA,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"1,085,000,000","744,000,000","1,025,000,000","1,398,000,000","1,718,000,000","1,969,000,000","1,844,000,000","2,142,000,000","2,673,000,000","3,389,000,000","4,168,000,000","4,577,000,000","5,284,000,000","6,109,000,000","5,635,000,000","5,522,000,000","6,370,000,000","6,623,000,000","6,784,000,000","7,405,000,000","6,254,000,000","6,613,000,000",nan
28,Barbados,BRB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"630,000,000","667,000,000","672,000,000","721,000,000","697,000,000","733,000,000","706,000,000","666,000,000","767,000,000","784,000,000","1,081,000,000","1,235,000,000","1,224,000,000","1,244,000,000","1,122,000,000","1,074,000,000","983,000,000","947,000,000","992,000,000",nan,nan,nan,nan
29,Brunei Darussalam,BRN,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,nan,nan,nan,nan,nan,nan,"155,000,000","113,000,000","124,000,000","181,000,000","191,000,000","224,000,000","233,000,000","242,000,000","254,000,000",nan,nan,"92,000,000","96,000,000","79,000,000","147,000,000","144,000,000",nan
30,Bhutan,BTN,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"5,000,000","6,000,000","6,000,000","8,000,000","9,000,000","10,000,000","9,000,000","8,000,000","8,000,000","13,000,000","19,000,000","36,000,000","47,000,000","47,000,000","51,000,000","64,000,000","76,000,000","93,000,000","116,000,000","120,000,000","120,000,000","137,000,000",nan
31,Botswana,BWA,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"176,000,000","105,000,000","141,000,000","179,000,000","239,000,000","227,000,000","235,000,000","324,000,000","459,000,000","582,000,000","563,000,000","540,000,000","548,300,000","510,700,000","663,600,000","781,100,000","865,300,000","957,000,000","888,300,000","978,000,000","1,037,300,000","1,075,000,000",nan
32,Central African Republic,CAF,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"4,000,000","3,000,000","2,000,000","4,000,000","8,000,000","5,000,000","5,000,000","3,000,000","4,000,000","7,800,000","7,200,000","10,200,000","10,800,000","11,800,000","7,500,000","14,400,000","15,000,000","15,000,000","15,600,000",nan,nan,nan,nan
33,Canada,CAN,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"9,176,000,000","10,073,000,000","10,390,000,000","11,049,000,000","12,024,000,000","13,035,000,000","12,680,000,000","12,744,000,000","12,236,000,000","15,135,000,000","15,887,000,000","16,837,000,000","17,961,000,000","18,191,000,000","15,568,000,000","18,438,000,000","19,989,000,000","20,696,000,000","20,941,000,000","20,802,000,000","19,273,000,000","18,278,000,000",nan
34,Central Europe and the Baltics,CEB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"17,794,000,000","22,759,000,000","23,151,100,000","23,159,400,000","20,280,000,000","20,255,000,000","20,507,000,000","21,253,000,000","26,165,000,000","30,731,000,000","35,477,000,000","39,892,000,000","49,269,000,000","58,399,000,000","48,387,000,000","46,156,000,000","52,544,000,000","49,453,000,000","53,256,000,000","55,341,000,000","49,181,000,000","52,734,000,000",nan
35,Switzerland,CHE,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"11,354,000,000","10,779,000,000","10,036,000,000","10,188,000,000","9,135,000,000","8,988,000,000","9,290,000,000","9,117,000,000","10,493,000,000","11,404,000,000","11,952,000,000","12,855,000,000","14,720,000,000","17,596,000,000","16,667,000,000","17,614,000,000","20,659,000,000","19,594,000,000","20,345,000,000","21,444,000,000","19,639,000,000","19,220,000,000",nan
36,Channel Islands,CHI,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
37,Chile,CHL,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"1,186,000,000","1,209,000,000","1,401,000,000","1,431,000,000","1,243,000,000","1,179,000,000","1,184,000,000","1,221,000,000","1,309,000,000","1,571,000,000","1,608,000,000","1,853,000,000","2,224,000,000","2,481,000,000","2,380,000,000","2,362,000,000","2,723,000,000","3,158,000,000","3,171,000,000","3,202,000,000","3,412,000,000","3,697,000,000",nan
38,China,CHN,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"8,730,000,000","10,200,000,000","12,626,000,000","13,229,000,000","15,006,000,000","17,318,000,000","19,006,000,000","21,742,000,000","18,707,000,000","27,755,000,000","29,296,000,000","33,949,000,000","37,233,000,000","40,843,000,000","39,675,000,000","45,814,000,000","48,464,000,000","50,028,000,000","51,664,000,000","44,044,000,000","44,969,000,000","44,432,000,000",nan
39,Cote d'Ivoire,CIV,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"103,000,000","107,000,000","103,000,000","111,000,000","107,000,000","53,000,000","58,000,000","56,000,000","76,000,000","91,000,000","93,000,000","104,000,000","115,000,000","129,000,000","164,000,000","213,000,000","186,000,000","172,500,000","191,000,000","195,000,000","214,000,000",nan,nan
40,Cameroon,CMR,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"75,000,000","151,000,000","119,000,000","114,000,000","92,000,000","132,000,000","182,000,000","124,000,000","266,000,000","212,000,000","229,000,000","231,000,000","254,000,000","167,000,000","271,000,000","171,000,000","423,000,000","377,000,000","607,000,000","630,000,000","476,000,000",nan,nan
41,"Congo, Dem. Rep.",COD,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"3,200,000","3,100,000","700,000","700,000","24,000,000","10,700,000","11,400,000","6,900,000","8,400,000","45,400,000","100,000","4,300,000",nan
42,"Congo, Rep.",COG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"14,669,140","11,017,590","10,000,000","9,000,000","13,500,000","12,400,000","22,600,000","25,600,000","30,000,000","23,100,000","40,000,000","45,000,000","31,400,000","37,000,000","85,000,000","39,000,000","47,000,000","68,000,000","53,000,000","57,000,000",nan,nan,nan
43,Colombia,COL,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"887,000,000","1,362,000,000","1,315,000,000","1,216,000,000","1,231,000,000","1,313,000,000","1,483,000,000","1,237,000,000","1,191,000,000","1,369,000,000","1,891,000,000","2,370,000,000","2,586,000,000","2,936,000,000","3,050,000,000","3,441,000,000","3,801,000,000","4,363,000,000","4,759,000,000","4,887,000,000","5,235,000,000","5,835,000,000",nan
44,Comoros,COM,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"22,000,000","23,000,000","26,000,000","16,000,000","19,000,000","15,000,000","9,000,000","10,900,000","15,600,000","21,400,000","24,400,000","27,400,000","30,400,000","37,400,000","32,300,000","35,200,000","42,200,000","39,300,000",nan,nan,nan,nan,nan
45,Cabo Verde,CPV,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"29,000,000","37,000,000","50,000,000","45,000,000","56,000,000","64,000,000","77,000,000","100,000,000","135,000,000","153,000,000","177,000,000","280,000,000","375,000,000","432,000,000","349,000,000","387,000,000","438,000,000","452,000,000","483,000,000","453,000,000","380,000,000","402,000,000",nan
46,Costa Rica,CRI,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"763,000,000","797,000,000","860,000,000","1,038,000,000","1,256,000,000","1,477,000,000","1,339,000,000","1,292,000,000","1,424,000,000","1,586,000,000","1,810,000,000","1,865,000,000","2,221,000,000","2,533,000,000","2,001,000,000","2,179,000,000","2,646,000,000","2,773,000,000","3,171,000,000","3,137,000,000","3,408,000,000","3,956,000,000",nan
47,Caribbean small states,CSS,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"4,291,000,000","4,557,000,000","4,783,000,000","4,909,000,000","5,247,000,000","5,520,000,000","5,213,000,000","5,283,000,000","5,695,000,000","6,238,000,000","6,927,000,000","7,350,000,000","7,675,000,000","7,652,000,000","7,087,000,000","7,360,000,000","7,304,000,000","7,685,000,000","7,795,000,000","9,946,846,244","10,360,486,550","10,486,285,039",nan
48,Cuba,CUB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"1,100,000,000","1,333,000,000","1,515,000,000","1,759,000,000","1,901,000,000","1,948,000,000","1,840,000,000","1,769,000,000","1,999,000,000","2,114,000,000","2,591,000,000","2,414,000,000","2,415,000,000","2,535,000,000","2,249,000,000","2,396,000,000","2,503,000,000","2,613,000,000","2,608,000,000","2,546,000,000","2,819,000,000","3,069,000,000",nan
49,Curacao,CUW,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"175,000,000","186,000,000","201,000,000","261,000,000","260,000,000","227,000,000","271,000,000","217,000,000","223,000,000","224,000,000","244,000,000","277,000,000","329,000,000","383,000,000","378,000,000","438,000,000","540,000,000","676,000,000","778,000,000","820,000,000","712,000,000","644,000,000",nan
50,Cayman Islands,CYM,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"394,000,000","368,000,000","501,000,000","534,000,000","525,000,000","559,000,000","585,000,000","607,000,000","518,000,000","523,000,000","356,000,000","509,000,000","481,000,000","518,000,000","458,000,000","465,000,000","472,000,000","469,000,000","479,000,000","541,000,000","651,000,000",nan,nan

In [5]:
df.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1995,1996,1997,1998,1999,2000,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,554000000.0,666000000.0,726000000.0,786000000.0,782000000.0,850000000.0,...,1.352000e+09,1.223000e+09,1.254000e+09,1.358000e+09,1.412000e+09,1.506000e+09,1.625000e+09,1.659000e+09,1.638000e+09,NaN
1,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.700000e+07,9.000000e+07,1.690000e+08,1.520000e+08,1.770000e+08,1.910000e+08,9.200000e+07,8.800000e+07,5.100000e+07,NaN
2,Angola,AGO,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,27000000.0,38000000.0,24000000.0,39000000.0,31000000.0,34000000.0,...,2.930000e+08,5.540000e+08,7.260000e+08,6.530000e+08,7.110000e+08,1.241000e+09,1.597000e+09,1.171000e+09,6.280000e+08,NaN
3,Albania,ALB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,70000000.0,94000000.0,34000000.0,60000000.0,218000000.0,398000000.0,...,1.848000e+09,2.014000e+09,1.780000e+09,1.833000e+09,1.623000e+09,1.670000e+09,1.849000e+09,1.614000e+09,1.821000e+09,NaN
4,Andorra,AND,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.tail(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1995,1996,1997,1998,1999,2000,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
259,Kosovo,XKX,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,5.000000e+07,5.500000e+07,7.000000e+07,8.400000e+07,6.100000e+07,7.300000e+07,...,8.860000e+08,8.990000e+08,1.291000e+09,9.100000e+08,1.005000e+09,1.097000e+09,1.199000e+09,1.160000e+08,NaN,NaN
261,South Africa,ZAF,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2.654000e+09,3.137000e+09,3.422000e+09,3.419000e+09,3.407000e+09,3.338000e+09,...,9.178000e+09,8.684000e+09,1.030900e+10,1.070600e+10,1.120200e+10,1.046800e+10,1.048400e+10,9.140000e+09,8.807000e+09,NaN
262,Zambia,ZMB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,2.900000e+07,4.000000e+07,5.300000e+07,6.700000e+07,...,5.420000e+08,4.740000e+08,4.920000e+08,5.550000e+08,5.180000e+08,5.520000e+08,6.420000e+08,6.600000e+08,6.830000e+08,NaN
263,Zimbabwe,ZWE,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1.450000e+08,2.320000e+08,2.050000e+08,1.580000e+08,2.020000e+08,1.250000e+08,...,2.940000e+08,1.290000e+08,1.350000e+08,1.640000e+08,1.740000e+08,1.830000e+08,1.860000e+08,1.910000e+08,1.940000e+08,NaN

In [14]:
pd.set_option('display.max_rows', 10)

In [13]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1995,1996,1997,1998,1999,2000,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,5.540000e+08,6.660000e+08,7.260000e+08,7.860000e+08,7.820000e+08,8.500000e+08,...,1.352000e+09,1.223000e+09,1.254000e+09,1.358000e+09,1.412000e+09,1.506000e+09,1.625000e+09,1.659000e+09,1.638000e+09,NaN
1,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.700000e+07,9.000000e+07,1.690000e+08,1.520000e+08,1.770000e+08,1.910000e+08,9.200000e+07,8.800000e+07,5.100000e+07,NaN
2,Angola,AGO,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2.700000e+07,3.800000e+07,2.400000e+07,3.900000e+07,3.100000e+07,3.400000e+07,...,2.930000e+08,5.540000e+08,7.260000e+08,6.530000e+08,7.110000e+08,1.241000e+09,1.597000e+09,1.171000e+09,6.280000e+08,NaN
3,Albania,ALB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,7.000000e+07,9.400000e+07,3.400000e+07,6.000000e+07,2.180000e+08,3.980000e+08,...,1.848000e+09,2.014000e+09,1.780000e+09,1.833000e+09,1.623000e+09,1.670000e+09,1.849000e+09,1.614000e+09,1.821000e+09,NaN
4,Andorra,AND,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,5.000000e+07,5.500000e+07,7.000000e+07,8.400000e+07,6.100000e+07,7.300000e+07,...,8.860000e+08,8.990000e+08,1.291000e+09,9.100000e+08,1.005000e+09,1.097000e+09,1.199000e+09,1.160000e+08,NaN,NaN
261,South Africa,ZAF,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2.654000e+09,3.137000e+09,3.422000e+09,3.419000e+09,3.407000e+09,3.338000e+09,...,9.178000e+09,8.684000e+09,1.030900e+10,1.070600e+10,1.120200e+10,1.046800e+10,1.048400e+10,9.140000e+09,8.807000e+09,NaN
262,Zambia,ZMB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,2.900000e+07,4.000000e+07,5.300000e+07,6.700000e+07,...,5.420000e+08,4.740000e+08,4.920000e+08,5.550000e+08,5.180000e+08,5.520000e+08,6.420000e+08,6.600000e+08,6.830000e+08,NaN
263,Zimbabwe,ZWE,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1.450000e+08,2.320000e+08,2.050000e+08,1.580000e+08,2.020000e+08,1.250000e+08,...,2.940000e+08,1.290000e+08,1.350000e+08,1.640000e+08,1.740000e+08,1.830000e+08,1.860000e+08,1.910000e+08,1.940000e+08,NaN

In [9]:
pd.reset_option('display.max_rows')

In [10]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1995,1996,1997,1998,1999,2000,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,5.540000e+08,6.660000e+08,7.260000e+08,7.860000e+08,7.820000e+08,8.500000e+08,...,1.352000e+09,1.223000e+09,1.254000e+09,1.358000e+09,1.412000e+09,1.506000e+09,1.625000e+09,1.659000e+09,1.638000e+09,NaN
1,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.700000e+07,9.000000e+07,1.690000e+08,1.520000e+08,1.770000e+08,1.910000e+08,9.200000e+07,8.800000e+07,5.100000e+07,NaN
2,Angola,AGO,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2.700000e+07,3.800000e+07,2.400000e+07,3.900000e+07,3.100000e+07,3.400000e+07,...,2.930000e+08,5.540000e+08,7.260000e+08,6.530000e+08,7.110000e+08,1.241000e+09,1.597000e+09,1.171000e+09,6.280000e+08,NaN
3,Albania,ALB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,7.000000e+07,9.400000e+07,3.400000e+07,6.000000e+07,2.180000e+08,3.980000e+08,...,1.848000e+09,2.014000e+09,1.780000e+09,1.833000e+09,1.623000e+09,1.670000e+09,1.849000e+09,1.614000e+09,1.821000e+09,NaN
4,Andorra,AND,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,5.000000e+07,5.500000e+07,7.000000e+07,8.400000e+07,6.100000e+07,7.300000e+07,...,8.860000e+08,8.990000e+08,1.291000e+09,9.100000e+08,1.005000e+09,1.097000e+09,1.199000e+09,1.160000e+08,NaN,NaN
261,South Africa,ZAF,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2.654000e+09,3.137000e+09,3.422000e+09,3.419000e+09,3.407000e+09,3.338000e+09,...,9.178000e+09,8.684000e+09,1.030900e+10,1.070600e+10,1.120200e+10,1.046800e+10,1.048400e+10,9.140000e+09,8.807000e+09,NaN
262,Zambia,ZMB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,2.900000e+07,4.000000e+07,5.300000e+07,6.700000e+07,...,5.420000e+08,4.740000e+08,4.920000e+08,5.550000e+08,5.180000e+08,5.520000e+08,6.420000e+08,6.600000e+08,6.830000e+08,NaN
263,Zimbabwe,ZWE,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1.450000e+08,2.320000e+08,2.050000e+08,1.580000e+08,2.020000e+08,1.250000e+08,...,2.940000e+08,1.290000e+08,1.350000e+08,1.640000e+08,1.740000e+08,1.830000e+08,1.860000e+08,1.910000e+08,1.940000e+08,NaN

In [15]:
pd.set_option('display.max_columns', 100)

In [17]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,554000000.0,666000000.0,726000000.0,786000000.0,782000000.0,850000000.0,825000000.0,835000000.0,858100000.0,1.056000e+09,1.097000e+09,1.064100e+09,1.213400e+09,1.352000e+09,1.223000e+09,1.254000e+09,1.358000e+09,1.412000e+09,1.506000e+09,1.625000e+09,1.659000e+09,1.638000e+09,NaN
1,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.700000e+07,9.000000e+07,1.690000e+08,1.520000e+08,1.770000e+08,1.910000e+08,9.200000e+07,8.800000e+07,5.100000e+07,NaN
2,Angola,AGO,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,27000000.0,38000000.0,24000000.0,39000000.0,31000000.0,34000000.0,35000000.0,51000000.0,63000000.0,8.200000e+07,1.030000e+08,9.100000e+07,2.360000e+08,2.930000e+08,5.540000e+08,7.260000e+08,6.530000e+08,7.110000e+08,1.241000e+09,1.597000e+09,1.171000e+09,6.280000e+08,NaN
3,Albania,ALB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,70000000.0,94000000.0,34000000.0,60000000.0,218000000.0,398000000.0,451000000.0,492000000.0,537000000.0,7.560000e+08,8.800000e+08,1.057000e+09,1.479000e+09,1.848000e+09,2.014000e+09,1.780000e+09,1.833000e+09,1.623000e+09,1.670000e+09,1.849000e+09,1.614000e+09,1.821000e+09,NaN
4,Andorra,AND,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
pd.set_option('display.float_format', '{:,.0f}'.format)

In [22]:
df.head(2)

,Country Name,Country Code,Indicator Name,Indicator Code,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"554,000,000","666,000,000","726,000,000","786,000,000","782,000,000","850,000,000","825,000,000","835,000,000","858,100,000","1,056,000,000","1,097,000,000","1,064,100,000","1,213,400,000","1,352,000,000","1,223,000,000","1,254,000,000","1,358,000,000","1,412,000,000","1,506,000,000","1,625,000,000","1,659,000,000","1,638,000,000",nan
1,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"47,000,000","90,000,000","169,000,000","152,000,000","177,000,000","191,000,000","92,000,000","88,000,000","51,000,000",nan

In [23]:
pd.reset_option('display.float_format')

In [24]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,554000000.0,666000000.0,726000000.0,786000000.0,782000000.0,850000000.0,825000000.0,835000000.0,858100000.0,1.056000e+09,1.097000e+09,1.064100e+09,1.213400e+09,1.352000e+09,1.223000e+09,1.254000e+09,1.358000e+09,1.412000e+09,1.506000e+09,1.625000e+09,1.659000e+09,1.638000e+09,NaN
1,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.700000e+07,9.000000e+07,1.690000e+08,1.520000e+08,1.770000e+08,1.910000e+08,9.200000e+07,8.800000e+07,5.100000e+07,NaN
2,Angola,AGO,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,27000000.0,38000000.0,24000000.0,39000000.0,31000000.0,34000000.0,35000000.0,51000000.0,63000000.0,8.200000e+07,1.030000e+08,9.100000e+07,2.360000e+08,2.930000e+08,5.540000e+08,7.260000e+08,6.530000e+08,7.110000e+08,1.241000e+09,1.597000e+09,1.171000e+09,6.280000e+08,NaN
3,Albania,ALB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,70000000.0,94000000.0,34000000.0,60000000.0,218000000.0,398000000.0,451000000.0,492000000.0,537000000.0,7.560000e+08,8.800000e+08,1.057000e+09,1.479000e+09,1.848000e+09,2.014000e+09,1.780000e+09,1.833000e+09,1.623000e+09,1.670000e+09,1.849000e+09,1.614000e+09,1.821000e+09,NaN
4,Andorra,AND,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
pd.set_option('display.float_format', '{:,.0f}'.format)