In [12]:
import pandas as pd
%matplotlib inline

pd.set_option('display.max_rows', None)

## Read a single sheet

In [13]:
colnames = ['brand', '1300cc', '1600cc', '1800cc', '2000cc', 'gt2000cc', 'elec', 'total']
df = pd.read_excel('Car1_whole2559.xlsx', sheet_name=1, usecols='B:I',
                  skiprows=7, skipfooter=3,
                  header=None, names=colnames)
df

            brand  1300cc  1600cc  1800cc  2000cc  gt2000cc  elec  total
0      ALFA ROMEO       0       0       0       0         1     0      1
1    ASTON MARTIN       0       0       0       0         0     0      0
2            AUDI       0       2       0      14         0     0     16
3          AUSTIN       0       0       0       0         0     0      0
4         BENTLEY       0       0       0       0         2     0      2
5             BMW       1      45       0     586        64     0    696
6        CADILLAC       0       0       0       0         1     0      1
7           CHERY       0       0       0       1         0     0      1
8       CHEVROLET       0     103      59      80       501     0    743
9        CHRYSLER       0       0       0       0         0     0      0
10        CITROEN       0       0       0       0         0     0      0
11         DAEWOO       0       0       0       0         0     0      0
12       DAIHATSU       0       0       0       0         0     0      0
13        DAIMLER       0       0       0       0         0     0      0
14            DFM       0       0       0       0         0     0      0
15        FERRARI       0       0       0       0         2     0      2
16           FIAT       0       3       0       0         1     0      4
17           FORD      73     525       0      40      2503     0   3141
18          GEELY       0       0       0       0         0     0      0
19           HINO       0       0       0       0         0     0      0
20         HOLDEN       0       0       0       0         0     0      0
21          HONDA     333    7500    3504    1467       232     0  13036
22         HUMMER       0       0       0       0         0     0      0
23        HYUNDAI       0       2      29       2        57     0     90
24          ISUZU       0       0       0    1747      2509     0   4256
25         JAGUAR       0       0       0       3         3     0      6
26           JEEP       0       0       0       0         0     0      0
27            KIA       2       7       0       0         1     0     10
28    LAMBORGHINI       0       0       0       0         2     0      2
29     LAND ROVER       0       0       0       0         4     0      4
30          LEXUS       0       0       1       6       113     0    120
31        LINCOLN       0       0       0       0         0     0      0
32          LOTUS       0       0       0       0         0     0      0
33       MASERATI       0       0       0       0         2     0      2
34        MAYBACH       0       0       0       0         0     0      0
35          MAZDA    1306     839       0    1131       602     0   3878
36  MERCEDES BENZ       0     161      46     372       605     0   1184
37             MG       0     567      36       0         0     0    603
38    MINI COOPER       0      55       0      64         0     0    119
39     MITSUBISHI    1244       0       6      21      4658     0   5929
40       MITSUOKA       0       0       0       0         0     0      0
41           NAZA       0       0       0       0         0     0      0
42         NISSAN    1542     572      50     573       549     0   3286
43        PERODUA       0       0       0       0         0     0      0
44        PEUGEOT       0       1       0       0         0     0      1
45        PORSCHE       0       0       0       7        53     0     60
46         PROTON       0      15       0       0         0     0     15
47        RADICAL       0       0       0       0         0     0      0
48    RANGE ROVER       0       0       0       0         4     0      4
49    ROLLS-ROYCE       0       0       0       0         1     0      1
50          ROVER       0       0       0       0         0     0      0
51           SAAB       0       0       0       0         0     0      0
52           SEAT       0       0       0       0         0     0      0
53          SKODA       0       0       0       0         0     0      0
54          SMART       0       0       0       0         0     0      0
55          SOKON       0       0       0       0         0     0      0
56      SSANGYONG       0       0       0       0         0     0      0
57         SUBARU       0       0       0     290        16     0    306
58         SUZUKI    1557      95       0       0         0     0   1652
59           TATA       0       0       0       0         3     0      3
60         TOYOTA    4799    6199    1161     550     10327     0  23036
61     VOLKSWAGEN       2       1       0       5         0     0      8
62          VOLVO       0      25       0      78         8     0    111
63         WULING       0       0       0       0         0     0      0
64        อื่น ๆ        0       0       0       0         3     1      4

## Read multiple sheets

In [14]:
colnames = ['brand', '1300cc', '1600cc', '1800cc', '2000cc', 'gt2000cc', 'elec', 'total']
dfs = [] # list for dataframes
dfs = [pd.read_excel('Car1_whole2559.xlsx', sheet_name=sn, usecols='B:I',
                  skiprows=7, skipfooter=3,
                  header=None, names=colnames)
            for sn in range(1, 13)]

In [15]:
dfs[0]

            brand  1300cc  1600cc  1800cc  2000cc  gt2000cc  elec  total
0      ALFA ROMEO       0       0       0       0         1     0      1
1    ASTON MARTIN       0       0       0       0         0     0      0
2            AUDI       0       2       0      14         0     0     16
3          AUSTIN       0       0       0       0         0     0      0
4         BENTLEY       0       0       0       0         2     0      2
5             BMW       1      45       0     586        64     0    696
6        CADILLAC       0       0       0       0         1     0      1
7           CHERY       0       0       0       1         0     0      1
8       CHEVROLET       0     103      59      80       501     0    743
9        CHRYSLER       0       0       0       0         0     0      0
10        CITROEN       0       0       0       0         0     0      0
11         DAEWOO       0       0       0       0         0     0      0
12       DAIHATSU       0       0       0       0         0     0      0
13        DAIMLER       0       0       0       0         0     0      0
14            DFM       0       0       0       0         0     0      0
15        FERRARI       0       0       0       0         2     0      2
16           FIAT       0       3       0       0         1     0      4
17           FORD      73     525       0      40      2503     0   3141
18          GEELY       0       0       0       0         0     0      0
19           HINO       0       0       0       0         0     0      0
20         HOLDEN       0       0       0       0         0     0      0
21          HONDA     333    7500    3504    1467       232     0  13036
22         HUMMER       0       0       0       0         0     0      0
23        HYUNDAI       0       2      29       2        57     0     90
24          ISUZU       0       0       0    1747      2509     0   4256
25         JAGUAR       0       0       0       3         3     0      6
26           JEEP       0       0       0       0         0     0      0
27            KIA       2       7       0       0         1     0     10
28    LAMBORGHINI       0       0       0       0         2     0      2
29     LAND ROVER       0       0       0       0         4     0      4
30          LEXUS       0       0       1       6       113     0    120
31        LINCOLN       0       0       0       0         0     0      0
32          LOTUS       0       0       0       0         0     0      0
33       MASERATI       0       0       0       0         2     0      2
34        MAYBACH       0       0       0       0         0     0      0
35          MAZDA    1306     839       0    1131       602     0   3878
36  MERCEDES BENZ       0     161      46     372       605     0   1184
37             MG       0     567      36       0         0     0    603
38    MINI COOPER       0      55       0      64         0     0    119
39     MITSUBISHI    1244       0       6      21      4658     0   5929
40       MITSUOKA       0       0       0       0         0     0      0
41           NAZA       0       0       0       0         0     0      0
42         NISSAN    1542     572      50     573       549     0   3286
43        PERODUA       0       0       0       0         0     0      0
44        PEUGEOT       0       1       0       0         0     0      1
45        PORSCHE       0       0       0       7        53     0     60
46         PROTON       0      15       0       0         0     0     15
47        RADICAL       0       0       0       0         0     0      0
48    RANGE ROVER       0       0       0       0         4     0      4
49    ROLLS-ROYCE       0       0       0       0         1     0      1
50          ROVER       0       0       0       0         0     0      0
51           SAAB       0       0       0       0         0     0      0
52           SEAT       0       0       0       0         0     0      0
53          SKODA       0       0       0       0         0     0      0
54          SMART       0       0       0       0         0     0      0
55          SOKON       0       0       0       0         0     0      0
56      SSANGYONG       0       0       0       0         0     0      0
57         SUBARU       0       0       0     290        16     0    306
58         SUZUKI    1557      95       0       0         0     0   1652
59           TATA       0       0       0       0         3     0      3
60         TOYOTA    4799    6199    1161     550     10327     0  23036
61     VOLKSWAGEN       2       1       0       5         0     0      8
62          VOLVO       0      25       0      78         8     0    111
63         WULING       0       0       0       0         0     0      0
64        อื่น ๆ        0       0       0       0         3     1      4

In [16]:
dfs[11]

            brand  1300cc  1600cc  1800cc  2000cc  gt2000cc  elec  total
0      ALFA ROMEO       0       0       0       0         1     0      1
1    ASTON MARTIN       0       0       0       0         0     0      0
2            AUDI       0       0       0       7         2     0      9
3          AUSTIN       0       0       0       0         0     0      0
4         BENTLEY       0       0       0       0         1     0      1
5             BMW       0      40       0     269        19     0    328
6        CADILLAC       0       0       0       0         1     0      1
7           CHERY       0       0       0       0         0     0      0
8       CHEVROLET       0       4      24      18       283     0    329
9        CHRYSLER       0       0       0       0         0     0      0
10        CITROEN       0       0       0       0         0     0      0
11         DAEWOO       0       0       0       0         0     0      0
12       DAIHATSU       0       0       0       0         0     0      0
13        DAIMLER       0       0       0       0         0     0      0
14            DFM       0       0       0       0         0     0      0
15        FERRARI       0       0       0       0         3     0      3
16           FIAT       0       0       0       0         0     0      0
17           FORD       3     145       0       3      1411     0   1562
18          GEELY       0       0       0       0         0     0      0
19           HINO       0       0       0       0         0     0      0
20         HOLDEN       0       0       0       0         0     0      0
21          HONDA     118    2595    1340     348        85     0   4486
22         HUMMER       0       0       0       0         0     0      0
23        HYUNDAI       0       3      14       0        16     0     33
24          ISUZU       0       0       0    2056       522     0   2578
25         JAGUAR       0       0       0       1         1     0      2
26           JEEP       0       0       0       0         0     0      0
27            KIA       1       0       0       1         2     0      4
28    LAMBORGHINI       0       0       0       0         3     0      3
29     LAND ROVER       0       0       0       0         2     0      2
30          LEXUS       0       0       0      13        19     0     32
31        LINCOLN       0       0       0       0         0     0      0
32          LOTUS       0       0       0       0         1     0      1
33       MASERATI       0       0       0       0         0     0      0
34        MAYBACH       0       0       0       0         0     0      0
35          MAZDA     682     303       0     413       239     0   1637
36  MERCEDES BENZ       0      49       5     251       156     0    461
37             MG       0     260      64      11         0     0    335
38    MINI COOPER       0      21       0      35         0     0     56
39     MITSUBISHI     870       0       3       3      1085     0   1961
40       MITSUOKA       0       0       0       0         0     0      0
41           NAZA       1       0       0       0         0     0      1
42         NISSAN    1177     181      22     153       325     0   1858
43        PERODUA       0       0       0       0         0     0      0
44        PEUGEOT       0       2       0       0         0     0      2
45        PORSCHE       0       0       0      10        29     0     39
46         PROTON       0       6       0       0         0     0      6
47        RADICAL       0       0       0       0         0     0      0
48    RANGE ROVER       0       0       0       0         0     0      0
49    ROLLS-ROYCE       0       0       0       0         0     0      0
50          ROVER       0       0       0       0         0     0      0
51           SAAB       0       0       0       0         0     0      0
52           SEAT       0       0       0       0         0     0      0
53          SKODA       0       0       1       0         0     0      1
54          SMART       0       0       0       0         0     0      0
55          SOKON       0       0       0       0         0     0      0
56      SSANGYONG       0       0       0       0         0     0      0
57         SUBARU       0       2       0     161         3     0    166
58         SUZUKI    1043      54       0       0         0     0   1097
59           TATA       0       0       0       0         4     0      4
60         TOYOTA    1635    1908     681     198      3561     0   7983
61     VOLKSWAGEN       0       1       0       0         0     0      1
62          VOLVO       0       9       0      21         0     0     30
63         WULING       0       0       0       0         0     0      0
64        อื่น ๆ        0       0       0       0         1     0      1

In [18]:
[d.set_index('brand', inplace=True) for d in dfs]

[None, None, None, None, None, None, None, None, None, None, None, None]

In [19]:
dfs[0]

               1300cc  1600cc  1800cc  2000cc  gt2000cc  elec  total
brand
ALFA ROMEO          0       0       0       0         1     0      1
ASTON MARTIN        0       0       0       0         0     0      0
AUDI                0       2       0      14         0     0     16
AUSTIN              0       0       0       0         0     0      0
BENTLEY             0       0       0       0         2     0      2
BMW                 1      45       0     586        64     0    696
CADILLAC            0       0       0       0         1     0      1
CHERY               0       0       0       1         0     0      1
CHEVROLET           0     103      59      80       501     0    743
CHRYSLER            0       0       0       0         0     0      0
CITROEN             0       0       0       0         0     0      0
DAEWOO              0       0       0       0         0     0      0
DAIHATSU            0       0       0       0         0     0      0
DAIMLER             0       0       0       0         0     0      0
DFM                 0       0       0       0         0     0      0
FERRARI             0       0       0       0         2     0      2
FIAT                0       3       0       0         1     0      4
FORD               73     525       0      40      2503     0   3141
GEELY               0       0       0       0         0     0      0
HINO                0       0       0       0         0     0      0
HOLDEN              0       0       0       0         0     0      0
HONDA             333    7500    3504    1467       232     0  13036
HUMMER              0       0       0       0         0     0      0
HYUNDAI             0       2      29       2        57     0     90
ISUZU               0       0       0    1747      2509     0   4256
JAGUAR              0       0       0       3         3     0      6
JEEP                0       0       0       0         0     0      0
KIA                 2       7       0       0         1     0     10
LAMBORGHINI         0       0       0       0         2     0      2
LAND ROVER          0       0       0       0         4     0      4
LEXUS               0       0       1       6       113     0    120
LINCOLN             0       0       0       0         0     0      0
LOTUS               0       0       0       0         0     0      0
MASERATI            0       0       0       0         2     0      2
MAYBACH             0       0       0       0         0     0      0
MAZDA            1306     839       0    1131       602     0   3878
MERCEDES BENZ       0     161      46     372       605     0   1184
MG                  0     567      36       0         0     0    603
MINI COOPER         0      55       0      64         0     0    119
MITSUBISHI       1244       0       6      21      4658     0   5929
MITSUOKA            0       0       0       0         0     0      0
NAZA                0       0       0       0         0     0      0
NISSAN           1542     572      50     573       549     0   3286
PERODUA             0       0       0       0         0     0      0
PEUGEOT             0       1       0       0         0     0      1
PORSCHE             0       0       0       7        53     0     60
PROTON              0      15       0       0         0     0     15
RADICAL             0       0       0       0         0     0      0
RANGE ROVER         0       0       0       0         4     0      4
ROLLS-ROYCE         0       0       0       0         1     0      1
ROVER               0       0       0       0         0     0      0
SAAB                0       0       0       0         0     0      0
SEAT                0       0       0       0         0     0      0
SKODA               0       0       0       0         0     0      0
SMART               0       0       0       0         0     0      0
SOKON               0       0       0       0         0     0      0
SSANGYONG           0       0       0       0         0     0      0
SUBARU              0       0       0     290        16     0    306
SUZUKI           1557      95       0       0         0     0   1652
TATA                0       0       0       0         3     0      3
TOYOTA           4799    6199    1161     550     10327     0  23036
VOLKSWAGEN          2       1       0       5         0     0      8
VOLVO               0      25       0      78         8     0    111
WULING              0       0       0       0         0     0      0
อื่น ๆ              0       0       0       0         3     1      4

In [20]:
df = pd.concat(dfs, keys=range(1, 13), names=['month', 'brand'])
df.sample(10)

                     1300cc  1600cc  1800cc  2000cc  gt2000cc  elec  total
month brand
9     ROLLS-ROYCE         0       0       0       0         2     0      2
3     LEXUS               0       0       0      14        71     0     85
12    PORSCHE             0       0       0      10        29     0     39
8     FERRARI             0       0       0       0         2     0      2
2     MERCEDES BENZ       0     193      42     475       672     0   1382
10    SOKON               0       0       0       0         0     0      0
3     VOLVO               0      21       0      65         4     0     90
12    CHRYSLER            0       0       0       0         0     0      0
1     PORSCHE             0       0       0       7        53     0     60
2     HOLDEN              0       0       0       0         0     0      0

In [22]:
df.head(100)

                     1300cc  1600cc  1800cc  2000cc  gt2000cc  elec  total
month brand
1     ALFA ROMEO          0       0       0       0         1     0      1
      ASTON MARTIN        0       0       0       0         0     0      0
      AUDI                0       2       0      14         0     0     16
      AUSTIN              0       0       0       0         0     0      0
      BENTLEY             0       0       0       0         2     0      2
      BMW                 1      45       0     586        64     0    696
      CADILLAC            0       0       0       0         1     0      1
      CHERY               0       0       0       1         0     0      1
      CHEVROLET           0     103      59      80       501     0    743
      CHRYSLER            0       0       0       0         0     0      0
      CITROEN             0       0       0       0         0     0      0
      DAEWOO              0       0       0       0         0     0      0
      DAIHATSU            0       0       0       0         0     0      0
      DAIMLER             0       0       0       0         0     0      0
      DFM                 0       0       0       0         0     0      0
      FERRARI             0       0       0       0         2     0      2
      FIAT                0       3       0       0         1     0      4
      FORD               73     525       0      40      2503     0   3141
      GEELY               0       0       0       0         0     0      0
      HINO                0       0       0       0         0     0      0
      HOLDEN              0       0       0       0         0     0      0
      HONDA             333    7500    3504    1467       232     0  13036
      HUMMER              0       0       0       0         0     0      0
      HYUNDAI             0       2      29       2        57     0     90
      ISUZU               0       0       0    1747      2509     0   4256
      JAGUAR              0       0       0       3         3     0      6
      JEEP                0       0       0       0         0     0      0
      KIA                 2       7       0       0         1     0     10
      LAMBORGHINI         0       0       0       0         2     0      2
      LAND ROVER          0       0       0       0         4     0      4
      LEXUS               0       0       1       6       113     0    120
      LINCOLN             0       0       0       0         0     0      0
      LOTUS               0       0       0       0         0     0      0
      MASERATI            0       0       0       0         2     0      2
      MAYBACH             0       0       0       0         0     0      0
      MAZDA            1306     839       0    1131       602     0   3878
      MERCEDES BENZ       0     161      46     372       605     0   1184
      MG                  0     567      36       0         0     0    603
      MINI COOPER         0      55       0      64         0     0    119
      MITSUBISHI       1244       0       6      21      4658     0   5929
      MITSUOKA            0       0       0       0         0     0      0
      NAZA                0       0       0       0         0     0      0
      NISSAN           1542     572      50     573       549     0   3286
      PERODUA             0       0       0       0         0     0      0
      PEUGEOT             0       1       0       0         0     0      1
      PORSCHE             0       0       0       7        53     0     60
      PROTON              0      15       0       0         0     0     15
      RADICAL             0       0       0       0         0     0      0
      RANGE ROVER         0       0       0       0         4     0      4
      ROLLS-ROYCE         0       0       0       0         1     0      1
      ROVER               0       0       0       0         0     0      0
      SAAB                0       0       0       0         0     0      0
      SEAT                0       0       0       0         0     0      0
      SKODA               0       0       0       0         0     0      0
      SMART               0       0       0       0         0     0      0
      SOKON               0       0       0       0         0     0      0
      SSANGYONG           0       0       0       0         0     0      0
      SUBARU              0       0       0     290        16     0    306
      SUZUKI           1557      95       0       0         0     0   1652
      TATA                0       0       0       0         3     0      3
      TOYOTA           4799    6199    1161     550     10327     0  23036
      VOLKSWAGEN          2       1       0       5         0     0      8
      VOLVO               0      25       0      78         8     0    111
      WULING              0       0       0       0         0     0      0
      อื่น ๆ              0       0       0       0         3     1      4
2     ALFA ROMEO          0       0       0       0         1     0      1
      ASTON MARTIN        0       0       0       0         0     0      0
      AUDI                0       0       0      10         0     0     10
      AUSTIN              0       0       0       0         0     0      0
      BENTLEY             0       0       0       0         0     0      0
      BMW                 0      60       0     689        52     0    801
      CADILLAC            0       0       0       0         0     0      0
      CHERY               0       0       0       0         0     0      0
      CHEVROLET           0      76      62      96       702     0    936
      CHRYSLER            0       0       0       0         0     0      0
      CITROEN             0       0       0       0         0     0      0
      DAEWOO              0       0       0       0         0     0      0
      DAIHATSU            0       0       0       0         0     0      0
      DAIMLER             0       0       0       0         0     0      0
      DFM                 0       0       0       0         0     0      0
      FERRARI             0       0       0       0         5     0      5
      FIAT                0       0       0       0         1     0      1
      FORD               63     564       0      45      2623     0   3295
      GEELY               0       0       0       0         0     0      0
      HINO                0       0       0       0         0     0      0
      HOLDEN              0       0       0       0         0     0      0
      HONDA             272    7771    2966    1292       276     0  12577
      HUMMER              0       0       0       0         0     0      0
      HYUNDAI             0       2      62       1        64     0    129
      ISUZU               0       0       0    2604      1874     0   4478
      JAGUAR              0       0       0       1         3     0      4
      JEEP                0       0       0       0         3     0      3
      KIA                 0       7       0       0         2     0      9
      LAMBORGHINI         0       0       0       0         5     0      5
      LAND ROVER          0       0       0       0         5     0      5
      LEXUS               0       0       1       4        87     0     92
      LINCOLN             0       0       0       0         0     0      0
      LOTUS               0       0       0       0         0     0      0
      MASERATI            0       0       0       0         1     0      1
      MAYBACH             0       0       0       0         0     0      0

In [23]:
df = df[df.total != 0]

In [24]:
df.sample(n=10)

                  1300cc  1600cc  1800cc  2000cc  gt2000cc  elec  total
month brand
11    ISUZU            0       0       0    2691       577     0   3268
3     อื่น ๆ           0       0       0       0         2     0      2
4     MITSUBISHI    1125       0       3      14      2846     0   3988
1     BENTLEY          0       0       0       0         2     0      2
6     AUDI             0       0       0      11         0     0     11
7     MAZDA         1237     620       0     882       346     0   3085
11    VOLKSWAGEN       0       0       0       1         0     0      1
12    VOLKSWAGEN       0       1       0       0         0     0      1
8     CHEVROLET        0      16      26      43       395     0    480
2     PROTON           0      14       0       0         0     0     14

In [25]:
df.reset_index(inplace=True)
df.head(100)

,month,brand,1300cc,1600cc,1800cc,2000cc,gt2000cc,elec,total
0,1,ALFA ROMEO,0,0,0,0,1,0,1
1,1,AUDI,0,2,0,14,0,0,16
2,1,BENTLEY,0,0,0,0,2,0,2
3,1,BMW,1,45,0,586,64,0,696
4,1,CADILLAC,0,0,0,0,1,0,1
5,1,CHERY,0,0,0,1,0,0,1
6,1,CHEVROLET,0,103,59,80,501,0,743
7,1,FERRARI,0,0,0,0,2,0,2
8,1,FIAT,0,3,0,0,1,0,4
9,1,FORD,73,525,0,40,2503,0,3141
10,1,HONDA,333,7500,3504,1467,232,0,13036
11,1,HYUNDAI,0,2,29,2,57,0,90
12,1,ISUZU,0,0,0,1747,2509,0,4256
13,1,JAGUAR,0,0,0,3,3,0,6
14,1,KIA,2,7,0,0,1,0,10
15,1,LAMBORGHINI,0,0,0,0,2,0,2
16,1,LAND ROVER,0,0,0,0,4,0,4
17,1,LEXUS,0,0,1,6,113,0,120
18,1,MASERATI,0,0,0,0,2,0,2
19,1,MAZDA,1306,839,0,1131,602,0,3878
20,1,MERCEDES BENZ,0,161,46,372,605,0,1184
21,1,MG,0,567,36,0,0,0,603
22,1,MINI COOPER,0,55,0,64,0,0,119
23,1,MITSUBISHI,1244,0,6,21,4658,0,5929
24,1,NISSAN,1542,572,50,573,549,0,3286
25,1,PEUGEOT,0,1,0,0,0,0,1
26,1,PORSCHE,0,0,0,7,53,0,60
27,1,PROTON,0,15,0,0,0,0,15
28,1,RANGE ROVER,0,0,0,0,4,0,4
29,1,ROLLS-ROYCE,0,0,0,0,1,0,1
30,1,SUBARU,0,0,0,290,16,0,306
31,1,SUZUKI,1557,95,0,0,0,0,1652
32,1,TATA,0,0,0,0,3,0,3
33,1,TOYOTA,4799,6199,1161,550,10327,0,23036
34,1,VOLKSWAGEN,2,1,0,5,0,0,8
35,1,VOLVO,0,25,0,78,8,0,111
36,1,อื่น ๆ,0,0,0,0,3,1,4
37,2,ALFA ROMEO,0,0,0,0,1,0,1
38,2,AUDI,0,0,0,10,0,0,10
39,2,BMW,0,60,0,689,52,0,801
40,2,CHEVROLET,0,76,62,96,702,0,936
41,2,FERRARI,0,0,0,0,5,0,5
42,2,FIAT,0,0,0,0,1,0,1
43,2,FORD,63,564,0,45,2623,0,3295
44,2,HONDA,272,7771,2966,1292,276,0,12577
45,2,HYUNDAI,0,2,62,1,64,0,129
46,2,ISUZU,0,0,0,2604,1874,0,4478
47,2,JAGUAR,0,0,0,1,3,0,4
48,2,JEEP,0,0,0,0,3,0,3
49,2,KIA,0,7,0,0,2,0,9
50,2,LAMBORGHINI,0,0,0,0,5,0,5
51,2,LAND ROVER,0,0,0,0,5,0,5
52,2,LEXUS,0,0,1,4,87,0,92
53,2,MASERATI,0,0,0,0,1,0,1
54,2,MAZDA,1342,849,0,1246,621,0,4058
55,2,MERCEDES BENZ,0,193,42,475,672,0,1382
56,2,MG,0,573,49,0,0,0,622
57,2,MINI COOPER,1,58,0,61,0,0,120
58,2,MITSUBISHI,1354,0,5,21,4471,0,5851
59,2,MITSUOKA,0,0,0,2,1,0,3
60,2,NISSAN,1611,580,77,864,642,0,3774
61,2,PEUGEOT,0,17,0,1,0,0,18
62,2,PORSCHE,0,0,0,5,42,0,47
63,2,PROTON,0,14,0,0,0,0,14
64,2,RANGE ROVER,0,0,0,0,5,0,5
65,2,ROLLS-ROYCE,0,0,0,0,2,0,2
66,2,SKODA,0,1,0,0,0,0,1
67,2,SSANGYONG,0,0,0,3,0,0,3
68,2,SUBARU,0,0,0,276,6,0,282
69,2,SUZUKI,1488,96,0,1,0,0,1585
70,2,TATA,0,0,0,0,6,0,6
71,2,TOYOTA,4247,4110,816,481,9087,0,18741
72,2,VOLKSWAGEN,1,1,0,4,0,0,6
73,2,VOLVO,0,28,0,65,14,0,107
74,2,อื่น ๆ,0,0,0,0,2,0,2
75,3,ALFA ROMEO,0,0,1,0,0,0,1
76,3,ASTON MARTIN,0,0,0,0,2,0,2
77,3,AUDI,0,0,0,15,1,0,16
78,3,BENTLEY,0,0,0,0,4,0,4
79,3,BMW,0,55,0,658,55,0,768
80,3,CHEVROLET,0,66,43,92,739,0,940
81,3,DAIHATSU,3,0,0,0,0,0,3
82,3,FERRARI,0,0,0,0,11,0,11
83,3,FORD,61,480,0,38,2668,0,3247
84,3,HONDA,234,6846,2249,970,226,0,10525
85,3,HYUNDAI,0,2,50,7,77,0,136
86,3,ISUZU,0,0,0,3340,1264,0,4604
87,3,JEEP,0,0,0,1,2,0,3
88,3,KIA,1,6,0,2,1,0,10
89,3,LAND ROVER,0,0,0,0,4,0,4
90,3,LEXUS,0,0,0,14,71,0,85
91,3,MAZDA,1435,911,0,1309,532,0,4187
92,3,MERCEDES BENZ,0,174,41,554,650,0,1419
93,3,MG,0,576,30,0,0,0,606
94,3,MINI COOPER,1,33,0,78,0,0,112
95,3,MITSUBISHI,1443,0,1,22,4128,0,5594
96,3,NISSAN,1652,561,64,739,639,0,3655
97,3,PEUGEOT,0,5,0,0,0,0,5
98,3,PORSCHE,0,0,0,17,42,0,59
99,3,PROTON,0,13,0,0,0,0,13

## Save to CSV

In [27]:
df.to_csv('car1_2559.csv', index=False)

## Save multiple dataframes to Excel

In [28]:
sheets = ['Jan', "Feb", 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
excel_file = pd.ExcelWriter('msheet2559.xlsx')
[c.to_excel(excel_file, sheet_name = sheets[i]) for i, c in enumerate(dfs)]
excel_file.close()