## รวมไฟล์

In [1]:
import pandas as pd

In [2]:
sales_2015 = pd.read_table('https://github.com/prasertcbs/basic-dataset/raw/master/sales_year/2015.tsv')
sales_2015

    Year     Category          Product    Sales  Rating
0   2015     Clothing            Socks   3,700     0.22
1   2015     Clothing           Shorts  13,300     0.56
2   2015   Components       Handlebars   2,300     0.35
3   2015     Clothing          Jerseys   6,700     0.05
4   2015        Bikes       Road Bikes   3,500     0.50
5   2015        Bikes   Mountain Bikes   3,100     0.35
6   2015  Accessories            Pumps     700     0.10
7   2015     Clothing           Tights   3,300     0.30
8   2015  Accessories          Helmets   8,300     0.99
9   2015  Accessories  Tires and Tubes   8,700     0.90
10  2015  Accessories            Locks  10,000     0.85
11  2015   Components  Bottom Brackets     500     0.35
12  2015     Clothing            Vests   3,300     0.36
13  2015   Components           Pedals     800     0.36
14  2015     Clothing           Gloves  13,300     0.50
15  2015  Accessories       Bike Racks     300     0.05
16  2015   Components          Saddles   2,100     0.49
17  2015   Components           Brakes   2,300     0.34
18  2015   Components           Wheels  10,000     0.66
19  2015        Bikes    Touring Bikes     500     0.22
20  2015        Bikes       Cargo Bike   3,200     0.48
21  2015     Clothing       Bib-Shorts     700     0.28
22  2015  Accessories           Lights   1,300     0.90
23  2015     Clothing             Caps     500     0.50
24  2015   Components           Chains   8,700     0.92

In [3]:
sales_2016 = pd.read_table('https://github.com/prasertcbs/basic-dataset/raw/master/sales_year/2016.tsv')
sales_2016

    Year     Category          Product   Sales  Rating
0   2016     Clothing            Socks   2,300    0.28
1   2016   Components           Brakes   3,400    0.36
2   2016        Bikes   Mountain Bikes   6,300    0.40
3   2016  Accessories          Helmets  17,000    0.90
4   2016  Accessories           Lights  21,600    0.90
5   2016  Accessories            Locks  29,800    0.90
6   2016   Components  Bottom Brackets   1,000    0.23
7   2016  Accessories            Pumps  16,400    0.80
8   2016  Accessories       Bike Racks  22,100    0.90
9   2016     Clothing       Bib-Shorts   2,900    0.36
10  2016        Bikes       Road Bikes   8,300    0.46
11  2016   Components           Wheels  16,700    0.75
12  2016        Bikes    Touring Bikes   1,800    0.15
13  2016     Clothing           Shorts  12,000    0.66
14  2016   Components           Chains  16,400    0.70
15  2016     Clothing             Caps     400    0.20
16  2016   Components       Handlebars   3,300    0.38
17  2016     Clothing           Gloves  15,600    0.65
18  2016   Components           Pedals   1,500    0.17
19  2016   Components          Saddles   2,800    0.38
20  2016        Bikes       Cargo Bike   6,700    0.46
21  2016  Accessories  Tires and Tubes  13,800    0.85
22  2016     Clothing          Jerseys   3,800    0.48
23  2016     Clothing            Vests   1,300    0.25
24  2016     Clothing           Tights  22,100    0.99

In [4]:
sales_2017 = pd.read_table('https://github.com/prasertcbs/basic-dataset/raw/master/sales_year/2017.tsv')
sales_2017

    Year     Category          Product   Sales  Rating
0   2017   Components           Chains  20,000    0.75
1   2017     Clothing       Bib-Shorts   4,000    0.22
2   2017     Clothing           Tights  36,000    1.00
3   2017   Components           Brakes   5,400    0.38
4   2017   Components  Bottom Brackets     600    0.27
5   2017     Clothing          Jerseys   7,500    0.40
6   2017  Accessories  Tires and Tubes  63,700    0.90
7   2017        Bikes       Cargo Bike   9,300    0.60
8   2017        Bikes   Mountain Bikes   8,500    0.46
9   2017  Accessories       Bike Racks  33,700    0.92
10  2017     Clothing             Caps     600    0.15
11  2017  Accessories            Pumps  30,700    0.95
12  2017  Accessories          Helmets  34,000    0.95
13  2017        Bikes       Road Bikes  16,900    0.65
14  2017  Accessories           Lights  36,700    0.90
15  2017  Accessories            Locks  35,000    1.00
16  2017     Clothing            Socks   3,700    0.48
17  2017   Components           Wheels  21,800    0.96
18  2017   Components       Handlebars   5,000    0.35
19  2017   Components           Pedals   6,200    0.38
20  2017     Clothing           Gloves  27,000    0.88
21  2017     Clothing            Vests   2,400    0.35
22  2017     Clothing           Shorts  23,000    1.00
23  2017   Components          Saddles   3,100    0.42
24  2017        Bikes    Touring Bikes   3,100    0.22

In [5]:
sales_2018 = pd.read_table('https://github.com/prasertcbs/basic-dataset/raw/master/sales_year/2018.tsv')
sales_2018

    Year     Category          Product   Sales  Rating
0   2018     Clothing            Socks   6,400    0.88
1   2018     Clothing           Shorts  15,800    0.11
2   2018   Components       Handlebars   8,000    0.71
3   2018     Clothing          Jerseys  18,800    0.06
4   2018        Bikes       Road Bikes  10,900    0.08
5   2018        Bikes   Mountain Bikes   3,600    0.38
6   2018  Accessories            Pumps  18,200    0.90
7   2018     Clothing           Tights  13,900    0.37
8   2018  Accessories          Helmets   4,000    0.46
9   2018  Accessories  Tires and Tubes   5,300    0.22
10  2018  Accessories            Locks  16,900    0.34
11  2018   Components  Bottom Brackets   6,300    0.30
12  2018     Clothing            Vests   4,700    0.25
13  2018   Components           Pedals   1,900    0.09
14  2018     Clothing           Gloves   3,900    0.29
15  2018  Accessories       Bike Racks  15,600    0.87
16  2018   Components          Saddles  18,200    0.09
17  2018   Components           Brakes   5,600    0.83
18  2018   Components           Wheels  12,500    0.15
19  2018        Bikes    Touring Bikes  15,400    0.27
20  2018        Bikes       Cargo Bike  13,400    0.67
21  2018     Clothing       Bib-Shorts   8,100    0.27
22  2018  Accessories           Lights  13,300    0.62
23  2018     Clothing             Caps  15,500    0.96
24  2018   Components           Chains  10,300    0.67

In [7]:
years = ['2015', '2016', '2017', '2018']
location_prefix = 'https://github.com/prasertcbs/basic-dataset/raw/master/sales_year/'
dfs = [pd.read_table(f'{location_prefix}{year}.tsv') for year in years]

In [8]:
type(dfs)

list

In [9]:
dfs[0]

    Year     Category          Product    Sales  Rating
0   2015     Clothing            Socks   3,700     0.22
1   2015     Clothing           Shorts  13,300     0.56
2   2015   Components       Handlebars   2,300     0.35
3   2015     Clothing          Jerseys   6,700     0.05
4   2015        Bikes       Road Bikes   3,500     0.50
5   2015        Bikes   Mountain Bikes   3,100     0.35
6   2015  Accessories            Pumps     700     0.10
7   2015     Clothing           Tights   3,300     0.30
8   2015  Accessories          Helmets   8,300     0.99
9   2015  Accessories  Tires and Tubes   8,700     0.90
10  2015  Accessories            Locks  10,000     0.85
11  2015   Components  Bottom Brackets     500     0.35
12  2015     Clothing            Vests   3,300     0.36
13  2015   Components           Pedals     800     0.36
14  2015     Clothing           Gloves  13,300     0.50
15  2015  Accessories       Bike Racks     300     0.05
16  2015   Components          Saddles   2,100     0.49
17  2015   Components           Brakes   2,300     0.34
18  2015   Components           Wheels  10,000     0.66
19  2015        Bikes    Touring Bikes     500     0.22
20  2015        Bikes       Cargo Bike   3,200     0.48
21  2015     Clothing       Bib-Shorts     700     0.28
22  2015  Accessories           Lights   1,300     0.90
23  2015     Clothing             Caps     500     0.50
24  2015   Components           Chains   8,700     0.92

In [11]:
df = pd.concat(dfs)
df

    Year     Category     Product    Sales  Rating
0   2015     Clothing       Socks   3,700     0.22
1   2015     Clothing      Shorts  13,300     0.56
2   2015   Components  Handlebars   2,300     0.35
3   2015     Clothing     Jerseys   6,700     0.05
4   2015        Bikes  Road Bikes   3,500     0.50
..   ...          ...         ...      ...     ...
20  2018        Bikes  Cargo Bike   13,400    0.67
21  2018     Clothing  Bib-Shorts    8,100    0.27
22  2018  Accessories      Lights   13,300    0.62
23  2018     Clothing        Caps   15,500    0.96
24  2018   Components      Chains   10,300    0.67

[100 rows x 5 columns]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 24
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Year      100 non-null    int64
 1   Category  100 non-null    object
 2   Product   100 non-null    object
 3   Sales     100 non-null    object
 4   Rating    100 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 4.7+ KB

In [21]:
df['Sales'].str.replace(',' , '').astype('int')

0      3700
1     13300
2      2300
3      6700
4      3500
      ...
20    13400
21     8100
22    13300
23    15500
24    10300
Name: Sales, Length: 100, dtype: int32

In [22]:
df['Sales'] = df['Sales'].str.replace(',' , '').astype('int')
df

    Year     Category     Product  Sales  Rating
0   2015     Clothing       Socks   3700    0.22
1   2015     Clothing      Shorts  13300    0.56
2   2015   Components  Handlebars   2300    0.35
3   2015     Clothing     Jerseys   6700    0.05
4   2015        Bikes  Road Bikes   3500    0.50
..   ...          ...         ...    ...     ...
20  2018        Bikes  Cargo Bike  13400    0.67
21  2018     Clothing  Bib-Shorts   8100    0.27
22  2018  Accessories      Lights  13300    0.62
23  2018     Clothing        Caps  15500    0.96
24  2018   Components      Chains  10300    0.67

[100 rows x 5 columns]

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 24
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Year      100 non-null    int64
 1   Category  100 non-null    object
 2   Product   100 non-null    object
 3   Sales     100 non-null    int32
 4   Rating    100 non-null    float64
dtypes: float64(1), int32(1), int64(1), object(2)
memory usage: 4.3+ KB

In [27]:
df

    Year     Category     Product  Sales  Rating
0   2015     Clothing       Socks   3700    0.22
1   2015     Clothing      Shorts  13300    0.56
2   2015   Components  Handlebars   2300    0.35
3   2015     Clothing     Jerseys   6700    0.05
4   2015        Bikes  Road Bikes   3500    0.50
..   ...          ...         ...    ...     ...
20  2018        Bikes  Cargo Bike  13400    0.67
21  2018     Clothing  Bib-Shorts   8100    0.27
22  2018  Accessories      Lights  13300    0.62
23  2018     Clothing        Caps  15500    0.96
24  2018   Components      Chains  10300    0.67

[100 rows x 5 columns]

In [28]:
# df.to_excel('sales_year.xlsx', index=False)