## Contents
- [at](#at)
    * [Multi-level index](#Multilevel-index)
- [iat](#iat)

In [1]:
import pandas as pd
pd.__version__

'1.1.3'

## at

In [9]:
df = pd.read_csv('https://github.com/prasertcbs/tutorial/raw/master/mtcars.csv', index_col=0)
df.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
model,,,,,,,,,,,
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [10]:
df.at['Datsun 710', 'mpg']

22.8

In [11]:
df.at['Datsun 710', 'mpg'] = 33

In [12]:
df.at['Datsun 710', 'mpg'] # scalar -> ดึงได้แค่ตัวเดียว ทำ slicing ไม่ได้

33.0

In [28]:
# df.at['Mazda RX4': 'Datsun 710', 'mpg'] # error

TypeError: 'slice('Mazda RX4', 'Datsun 710', None)' is an invalid key

In [13]:
df.loc['Datsun 710', 'mpg']

33.0

In [14]:
df.loc['Mazda RX4': 'Datsun 710', 'mpg'] # slicing

model
Mazda RX4        21.0
Mazda RX4 Wag    21.0
Datsun 710       33.0
Name: mpg, dtype: float64

## Multilevel index

In [15]:
df2 = pd.read_csv('https://github.com/prasertcbs/tutorial/raw/master/gapminder.csv',
                 index_col = ['country', 'year'])
df2.head()

                 continent  lifeExp       pop   gdpPercap
country     year
Afghanistan 1952      Asia   28.801   8425333  779.445314
            1957      Asia   30.332   9240934  820.853030
            1962      Asia   31.997  10267083  853.100710
            1967      Asia   34.020  11537966  836.197138
            1972      Asia   36.088  13079460  739.981106

In [16]:
df2

                 continent  lifeExp       pop   gdpPercap
country     year
Afghanistan 1952      Asia   28.801   8425333  779.445314
            1957      Asia   30.332   9240934  820.853030
            1962      Asia   31.997  10267083  853.100710
            1967      Asia   34.020  11537966  836.197138
            1972      Asia   36.088  13079460  739.981106
...                    ...      ...       ...         ...
Zimbabwe    1987    Africa   62.351   9216418  706.157306
            1992    Africa   60.377  10704340  693.420786
            1997    Africa   46.809  11404948  792.449960
            2002    Africa   39.989  11926563  672.038623
            2007    Africa   43.487  12311143  469.709298

[1704 rows x 4 columns]

In [17]:
df2.at[('Thailand', 1972), 'lifeExp']

60.405

In [18]:
df2.at[('Thailand', 1972), 'lifeExp'] = 65

In [19]:
df2.at[('Thailand', 1972), 'lifeExp']

65.0

## iat

In [21]:
df3 = pd.read_csv('https://github.com/prasertcbs/tutorial/raw/master/mtcars.csv')
df3.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [22]:
df3.iat[2,1]

22.8

In [23]:
df3.iat[2,2]

4

In [24]:
df3.iat[2,1] = 24

In [25]:
df3.iat[2,1] # scalar

24.0

In [26]:
df3.iloc[2,1]

24.0

In [27]:
df3.iloc[2:4, 1]

2    24.0
3    21.4
Name: mpg, dtype: float64

In [29]:
# at, iat -> get/set scalar
# loc iloc -> get/set multivalue