## Microsoft SQL Server sql magic %sql

In [1]:
# pip install ipython-sql

In [18]:
# pip install pymssql

In [16]:
# pip install --upgrade cython

Collecting cython
  Downloading Cython-0.29.23-cp38-cp38-win_amd64.whl (1.7 MB)
Installing collected packages: cython
  Attempting uninstall: cython
    Found existing installation: Cython 0.29.21
    Uninstalling Cython-0.29.21:
      Successfully uninstalled Cython-0.29.21
Successfully installed cython-0.29.23
Note: you may need to restart the kernel to use updated packages.

In [2]:
# pip install sqlalchemy

In [3]:
import pandas as pd
import pymysql

In [4]:
print(f'pandas version: {pd.__version__}')
print(f'pymysql version: {pymysql.__version__}')

pandas version: 1.1.3
pymysql version: 1.0.2

In [5]:
%load_ext sql

## Microsoft SQL Server Connection

In [6]:
import getpass
host = 'localhost'
port = 1433
dbname = 'disney'

user = input('Username: ')
pwd = getpass.getpass('Password: ')

Username: sqlexpress
Password: ········

## connection string
- sqlalchemy connection string format
- doc: https://docs.sqlalchemy.org/en/13/core/engines.html

In [7]:
connection_string = f'mssql+pymssql://{user}:{pwd}@{host}:{port}/{dbname}'

In [19]:
connection_string

'mssql+pymssql://sqlexpress:z1x2c3v4@localhost:1433/disney'

In [20]:
%sql mssql+pymssql://sqlexpress:z1x2c3v4@localhost:1433/disney

(pymssql._pymssql.OperationalError) (20009, b'DB-Lib error message 20009, severity 9:\nUnable to connect: Adaptive Server is unavailable or does not exist (localhost)\nNet-Lib error during Unknown error (10061)\nDB-Lib error message 20009, severity 9:\nUnable to connect: Adaptive Server is unavailable or does not exist (localhost)\nNet-Lib error during Unknown error (10061)\n')
(Background on this error at: http://sqlalche.me/e/13/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [14]:
%sql select top 5 * from movie_gross

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])