## จัดการ columns ที่เก็บค่าเป็น dict และ list

In [35]:
import pandas as pd
from pandas.io.json import json_normalize
import json

In [3]:
print(f'pandas version: {pd.__version__}')
print(f'json version: {json.__version__}')

pandas version: 1.1.3
json version: 2.0.9

In [6]:
url = 'https://github.com/prasertcbs/basic-dataset/raw/master/pokemon/pokedex_5_samples.json'
df = pd.read_json(url, orient='records')
df.head()

,id,name,type,base
0,1,"{'english': 'Bulbasaur', 'japanese': 'フシギダネ', ...","[Grass, Poison]","{'HP': 45, 'Attack': 49, 'Defense': 49, 'Sp. A..."
1,2,"{'english': 'Ivysaur', 'japanese': 'フシギソウ', 'c...","[Grass, Poison]","{'HP': 60, 'Attack': 62, 'Defense': 63, 'Sp. A..."
2,3,"{'english': 'Venusaur', 'japanese': 'フシギバナ', '...","[Grass, Poison]","{'HP': 80, 'Attack': 82, 'Defense': 83, 'Sp. A..."
3,4,"{'english': 'Charmander', 'japanese': 'ヒトカゲ', ...",[Fire],"{'HP': 39, 'Attack': 52, 'Defense': 43, 'Sp. A..."
4,5,"{'english': 'Charmeleon', 'japanese': 'リザード', ...",[Fire],"{'HP': 58, 'Attack': 64, 'Defense': 58, 'Sp. A..."

In [7]:
df['name'][0]

{'english': 'Bulbasaur',
 'japanese': 'フシギダネ',
 'chinese': '妙蛙种子',
 'french': 'Bulbizarre'}

In [8]:
type(df['name'][0])

dict

In [9]:
df['type'][0]

['Grass', 'Poison']

In [10]:
type(df['type'][0])

list

In [11]:
df['name'][0]['english']

'Bulbasaur'

In [12]:
df['name'][0]['japanese']

'フシギダネ'

In [13]:
df['name'][1]['english']

'Ivysaur'

In [14]:
df

,id,name,type,base
0,1,"{'english': 'Bulbasaur', 'japanese': 'フシギダネ', ...","[Grass, Poison]","{'HP': 45, 'Attack': 49, 'Defense': 49, 'Sp. A..."
1,2,"{'english': 'Ivysaur', 'japanese': 'フシギソウ', 'c...","[Grass, Poison]","{'HP': 60, 'Attack': 62, 'Defense': 63, 'Sp. A..."
2,3,"{'english': 'Venusaur', 'japanese': 'フシギバナ', '...","[Grass, Poison]","{'HP': 80, 'Attack': 82, 'Defense': 83, 'Sp. A..."
3,4,"{'english': 'Charmander', 'japanese': 'ヒトカゲ', ...",[Fire],"{'HP': 39, 'Attack': 52, 'Defense': 43, 'Sp. A..."
4,5,"{'english': 'Charmeleon', 'japanese': 'リザード', ...",[Fire],"{'HP': 58, 'Attack': 64, 'Defense': 58, 'Sp. A..."

In [15]:
df['name'].apply(lambda v: v['english'])

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: name, dtype: object

In [16]:
df['name_en'] = df['name'].apply(lambda v: v['english'])
df

,id,name,type,base,name_en
0,1,"{'english': 'Bulbasaur', 'japanese': 'フシギダネ', ...","[Grass, Poison]","{'HP': 45, 'Attack': 49, 'Defense': 49, 'Sp. A...",Bulbasaur
1,2,"{'english': 'Ivysaur', 'japanese': 'フシギソウ', 'c...","[Grass, Poison]","{'HP': 60, 'Attack': 62, 'Defense': 63, 'Sp. A...",Ivysaur
2,3,"{'english': 'Venusaur', 'japanese': 'フシギバナ', '...","[Grass, Poison]","{'HP': 80, 'Attack': 82, 'Defense': 83, 'Sp. A...",Venusaur
3,4,"{'english': 'Charmander', 'japanese': 'ヒトカゲ', ...",[Fire],"{'HP': 39, 'Attack': 52, 'Defense': 43, 'Sp. A...",Charmander
4,5,"{'english': 'Charmeleon', 'japanese': 'リザード', ...",[Fire],"{'HP': 58, 'Attack': 64, 'Defense': 58, 'Sp. A...",Charmeleon

In [19]:
df['name'].apply(lambda v: f"{v['english']} ({v['japanese']})")

0    Bulbasaur (フシギダネ)
1      Ivysaur (フシギソウ)
2     Venusaur (フシギバナ)
3    Charmander (ヒトカゲ)
4    Charmeleon (リザード)
Name: name, dtype: object

In [20]:
df['pokemon'] = df['name'].apply(lambda v: f"{v['english']} ({v['japanese']})")
df

,id,name,type,base,name_en,pokemon
0,1,"{'english': 'Bulbasaur', 'japanese': 'フシギダネ', ...","[Grass, Poison]","{'HP': 45, 'Attack': 49, 'Defense': 49, 'Sp. A...",Bulbasaur,Bulbasaur (フシギダネ)
1,2,"{'english': 'Ivysaur', 'japanese': 'フシギソウ', 'c...","[Grass, Poison]","{'HP': 60, 'Attack': 62, 'Defense': 63, 'Sp. A...",Ivysaur,Ivysaur (フシギソウ)
2,3,"{'english': 'Venusaur', 'japanese': 'フシギバナ', '...","[Grass, Poison]","{'HP': 80, 'Attack': 82, 'Defense': 83, 'Sp. A...",Venusaur,Venusaur (フシギバナ)
3,4,"{'english': 'Charmander', 'japanese': 'ヒトカゲ', ...",[Fire],"{'HP': 39, 'Attack': 52, 'Defense': 43, 'Sp. A...",Charmander,Charmander (ヒトカゲ)
4,5,"{'english': 'Charmeleon', 'japanese': 'リザード', ...",[Fire],"{'HP': 58, 'Attack': 64, 'Defense': 58, 'Sp. A...",Charmeleon,Charmeleon (リザード)

In [21]:
df['base'].apply(lambda v: v['HP'])

0    45
1    60
2    80
3    39
4    58
Name: base, dtype: int64

In [22]:
df['HP'] = df['base'].apply(lambda v: v['HP'])
df

,id,name,type,base,name_en,pokemon,HP
0,1,"{'english': 'Bulbasaur', 'japanese': 'フシギダネ', ...","[Grass, Poison]","{'HP': 45, 'Attack': 49, 'Defense': 49, 'Sp. A...",Bulbasaur,Bulbasaur (フシギダネ),45
1,2,"{'english': 'Ivysaur', 'japanese': 'フシギソウ', 'c...","[Grass, Poison]","{'HP': 60, 'Attack': 62, 'Defense': 63, 'Sp. A...",Ivysaur,Ivysaur (フシギソウ),60
2,3,"{'english': 'Venusaur', 'japanese': 'フシギバナ', '...","[Grass, Poison]","{'HP': 80, 'Attack': 82, 'Defense': 83, 'Sp. A...",Venusaur,Venusaur (フシギバナ),80
3,4,"{'english': 'Charmander', 'japanese': 'ヒトカゲ', ...",[Fire],"{'HP': 39, 'Attack': 52, 'Defense': 43, 'Sp. A...",Charmander,Charmander (ヒトカゲ),39
4,5,"{'english': 'Charmeleon', 'japanese': 'リザード', ...",[Fire],"{'HP': 58, 'Attack': 64, 'Defense': 58, 'Sp. A...",Charmeleon,Charmeleon (リザード),58

In [25]:
df['type']

0    [Grass, Poison]
1    [Grass, Poison]
2    [Grass, Poison]
3             [Fire]
4             [Fire]
Name: type, dtype: object

In [26]:
df['type'][0]

['Grass', 'Poison']

In [28]:
df['type'][0][0]

'Grass'

In [29]:
df['type'][0][1]

'Poison'

In [27]:
df['type'][3]

['Fire']

In [30]:
df['type'].apply(lambda v: v[0])

0    Grass
1    Grass
2    Grass
3     Fire
4     Fire
Name: type, dtype: object

In [31]:
df['main_type'] = df['type'].apply(lambda v: v[0])
df

,id,name,type,base,name_en,pokemon,HP,main_type
0,1,"{'english': 'Bulbasaur', 'japanese': 'フシギダネ', ...","[Grass, Poison]","{'HP': 45, 'Attack': 49, 'Defense': 49, 'Sp. A...",Bulbasaur,Bulbasaur (フシギダネ),45,Grass
1,2,"{'english': 'Ivysaur', 'japanese': 'フシギソウ', 'c...","[Grass, Poison]","{'HP': 60, 'Attack': 62, 'Defense': 63, 'Sp. A...",Ivysaur,Ivysaur (フシギソウ),60,Grass
2,3,"{'english': 'Venusaur', 'japanese': 'フシギバナ', '...","[Grass, Poison]","{'HP': 80, 'Attack': 82, 'Defense': 83, 'Sp. A...",Venusaur,Venusaur (フシギバナ),80,Grass
3,4,"{'english': 'Charmander', 'japanese': 'ヒトカゲ', ...",[Fire],"{'HP': 39, 'Attack': 52, 'Defense': 43, 'Sp. A...",Charmander,Charmander (ヒトカゲ),39,Fire
4,5,"{'english': 'Charmeleon', 'japanese': 'リザード', ...",[Fire],"{'HP': 58, 'Attack': 64, 'Defense': 58, 'Sp. A...",Charmeleon,Charmeleon (リザード),58,Fire

---

In [33]:
url = 'https://github.com/prasertcbs/basic-dataset/raw/master/pokemon/pokedex_5_samples.json'
df = pd.read_json(url, orient='records')
df.head()

,id,name,type,base
0,1,"{'english': 'Bulbasaur', 'japanese': 'フシギダネ', ...","[Grass, Poison]","{'HP': 45, 'Attack': 49, 'Defense': 49, 'Sp. A..."
1,2,"{'english': 'Ivysaur', 'japanese': 'フシギソウ', 'c...","[Grass, Poison]","{'HP': 60, 'Attack': 62, 'Defense': 63, 'Sp. A..."
2,3,"{'english': 'Venusaur', 'japanese': 'フシギバナ', '...","[Grass, Poison]","{'HP': 80, 'Attack': 82, 'Defense': 83, 'Sp. A..."
3,4,"{'english': 'Charmander', 'japanese': 'ヒトカゲ', ...",[Fire],"{'HP': 39, 'Attack': 52, 'Defense': 43, 'Sp. A..."
4,5,"{'english': 'Charmeleon', 'japanese': 'リザード', ...",[Fire],"{'HP': 58, 'Attack': 64, 'Defense': 58, 'Sp. A..."

In [36]:
json_normalize(df['name'])

<ipython-input-36-a8ebc2d0e1a6>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  json_normalize(df['name'])

      english japanese chinese      french
0   Bulbasaur    フシギダネ    妙蛙种子  Bulbizarre
1     Ivysaur    フシギソウ     妙蛙草  Herbizarre
2    Venusaur    フシギバナ     妙蛙花  Florizarre
3  Charmander     ヒトカゲ     小火龙   Salamèche
4  Charmeleon     リザード     火恐龙   Reptincel

In [37]:
json_normalize(df['base'])

<ipython-input-37-1e14bddb24c0>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  json_normalize(df['base'])

   HP  Attack  Defense  Sp. Attack  Sp. Defense  Speed
0  45      49       49          65           65     45
1  60      62       63          80           80     60
2  80      82       83         100          100     80
3  39      52       43          60           50     65
4  58      64       58          80           65     80

In [38]:
# json_normalize(df) # error

<ipython-input-38-eba4c29dab5d>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  json_normalize(df)

AttributeError: 'str' object has no attribute 'values'

In [39]:
# json_normalize(df[['name', 'base']]) # error

<ipython-input-39-fb29d29ee14d>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  json_normalize(df[['name', 'base']])

AttributeError: 'str' object has no attribute 'values'

In [40]:
pd.concat([df, json_normalize(df['name']), json_normalize(df['base'])], axis='columns')

<ipython-input-40-48ced875bc11>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  pd.concat([df, json_normalize(df['name']), json_normalize(df['base'])], axis='columns')

,id,name,type,base,english,japanese,chinese,french,HP,Attack,Defense,Sp. Attack,Sp. Defense,Speed
0,1,"{'english': 'Bulbasaur', 'japanese': 'フシギダネ', ...","[Grass, Poison]","{'HP': 45, 'Attack': 49, 'Defense': 49, 'Sp. A...",Bulbasaur,フシギダネ,妙蛙种子,Bulbizarre,45,49,49,65,65,45
1,2,"{'english': 'Ivysaur', 'japanese': 'フシギソウ', 'c...","[Grass, Poison]","{'HP': 60, 'Attack': 62, 'Defense': 63, 'Sp. A...",Ivysaur,フシギソウ,妙蛙草,Herbizarre,60,62,63,80,80,60
2,3,"{'english': 'Venusaur', 'japanese': 'フシギバナ', '...","[Grass, Poison]","{'HP': 80, 'Attack': 82, 'Defense': 83, 'Sp. A...",Venusaur,フシギバナ,妙蛙花,Florizarre,80,82,83,100,100,80
3,4,"{'english': 'Charmander', 'japanese': 'ヒトカゲ', ...",[Fire],"{'HP': 39, 'Attack': 52, 'Defense': 43, 'Sp. A...",Charmander,ヒトカゲ,小火龙,Salamèche,39,52,43,60,50,65
4,5,"{'english': 'Charmeleon', 'japanese': 'リザード', ...",[Fire],"{'HP': 58, 'Attack': 64, 'Defense': 58, 'Sp. A...",Charmeleon,リザード,火恐龙,Reptincel,58,64,58,80,65,80

In [41]:
dp = pd.concat([df, json_normalize(df['name']), json_normalize(df['base'])], axis='columns')
dp

<ipython-input-41-6d267576fbc9>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  dp = pd.concat([df, json_normalize(df['name']), json_normalize(df['base'])], axis='columns')

,id,name,type,base,english,japanese,chinese,french,HP,Attack,Defense,Sp. Attack,Sp. Defense,Speed
0,1,"{'english': 'Bulbasaur', 'japanese': 'フシギダネ', ...","[Grass, Poison]","{'HP': 45, 'Attack': 49, 'Defense': 49, 'Sp. A...",Bulbasaur,フシギダネ,妙蛙种子,Bulbizarre,45,49,49,65,65,45
1,2,"{'english': 'Ivysaur', 'japanese': 'フシギソウ', 'c...","[Grass, Poison]","{'HP': 60, 'Attack': 62, 'Defense': 63, 'Sp. A...",Ivysaur,フシギソウ,妙蛙草,Herbizarre,60,62,63,80,80,60
2,3,"{'english': 'Venusaur', 'japanese': 'フシギバナ', '...","[Grass, Poison]","{'HP': 80, 'Attack': 82, 'Defense': 83, 'Sp. A...",Venusaur,フシギバナ,妙蛙花,Florizarre,80,82,83,100,100,80
3,4,"{'english': 'Charmander', 'japanese': 'ヒトカゲ', ...",[Fire],"{'HP': 39, 'Attack': 52, 'Defense': 43, 'Sp. A...",Charmander,ヒトカゲ,小火龙,Salamèche,39,52,43,60,50,65
4,5,"{'english': 'Charmeleon', 'japanese': 'リザード', ...",[Fire],"{'HP': 58, 'Attack': 64, 'Defense': 58, 'Sp. A...",Charmeleon,リザード,火恐龙,Reptincel,58,64,58,80,65,80

In [42]:
dp['english']

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: english, dtype: object

In [43]:
df.explode('type')

,id,name,type,base
0,1,"{'english': 'Bulbasaur', 'japanese': 'フシギダネ', ...",Grass,"{'HP': 45, 'Attack': 49, 'Defense': 49, 'Sp. A..."
0,1,"{'english': 'Bulbasaur', 'japanese': 'フシギダネ', ...",Poison,"{'HP': 45, 'Attack': 49, 'Defense': 49, 'Sp. A..."
1,2,"{'english': 'Ivysaur', 'japanese': 'フシギソウ', 'c...",Grass,"{'HP': 60, 'Attack': 62, 'Defense': 63, 'Sp. A..."
1,2,"{'english': 'Ivysaur', 'japanese': 'フシギソウ', 'c...",Poison,"{'HP': 60, 'Attack': 62, 'Defense': 63, 'Sp. A..."
2,3,"{'english': 'Venusaur', 'japanese': 'フシギバナ', '...",Grass,"{'HP': 80, 'Attack': 82, 'Defense': 83, 'Sp. A..."
2,3,"{'english': 'Venusaur', 'japanese': 'フシギバナ', '...",Poison,"{'HP': 80, 'Attack': 82, 'Defense': 83, 'Sp. A..."
3,4,"{'english': 'Charmander', 'japanese': 'ヒトカゲ', ...",Fire,"{'HP': 39, 'Attack': 52, 'Defense': 43, 'Sp. A..."
4,5,"{'english': 'Charmeleon', 'japanese': 'リザード', ...",Fire,"{'HP': 58, 'Attack': 64, 'Defense': 58, 'Sp. A..."

In [44]:
dt = df.explode('type')
dt

,id,name,type,base
0,1,"{'english': 'Bulbasaur', 'japanese': 'フシギダネ', ...",Grass,"{'HP': 45, 'Attack': 49, 'Defense': 49, 'Sp. A..."
0,1,"{'english': 'Bulbasaur', 'japanese': 'フシギダネ', ...",Poison,"{'HP': 45, 'Attack': 49, 'Defense': 49, 'Sp. A..."
1,2,"{'english': 'Ivysaur', 'japanese': 'フシギソウ', 'c...",Grass,"{'HP': 60, 'Attack': 62, 'Defense': 63, 'Sp. A..."
1,2,"{'english': 'Ivysaur', 'japanese': 'フシギソウ', 'c...",Poison,"{'HP': 60, 'Attack': 62, 'Defense': 63, 'Sp. A..."
2,3,"{'english': 'Venusaur', 'japanese': 'フシギバナ', '...",Grass,"{'HP': 80, 'Attack': 82, 'Defense': 83, 'Sp. A..."
2,3,"{'english': 'Venusaur', 'japanese': 'フシギバナ', '...",Poison,"{'HP': 80, 'Attack': 82, 'Defense': 83, 'Sp. A..."
3,4,"{'english': 'Charmander', 'japanese': 'ヒトカゲ', ...",Fire,"{'HP': 39, 'Attack': 52, 'Defense': 43, 'Sp. A..."
4,5,"{'english': 'Charmeleon', 'japanese': 'リザード', ...",Fire,"{'HP': 58, 'Attack': 64, 'Defense': 58, 'Sp. A..."

In [45]:
dt['type'].value_counts()

Poison    3
Grass     3
Fire      2
Name: type, dtype: int64